[2017-03-03 09:46] newlife opened #1 "any progress on this project？"

[2017-03-08 12:27] AMBudnik commented on #1
Hi @newlife.
We had some issues with the latest Handsontable version but it's already online so Vue should be ready soon.

[2017-03-08 12:27] #1 closed, assigned to nobody

[2017-04-06 13:29] morkro opened #2 "Does this even work?"
Hello,

I've followed the [basic usage](https://github.com/handsontable/vue-handsontable-official#basic-usage) example and this project doesn't seem to work at all for me. Although, I've installed all required dependencies I still get the following error:

[code]

What am I missing? :)

[2017-04-08 03:39] sunnirvana commented on #2
I met this issue in my case too. Compared webpack.config.js and package.json between vue-handsontable-office demo with my project. I did the followings:
1. Install expose-loader
`npm install expose-loader --save-dev`

2.  add some loaders in **webpack.config.js**
[code]

[2017-04-14 12:13] jansiegel commented on #2
@morkro, @sunnirvana Have you tried following the configuration from the [/demo](https://github.com/handsontable/vue-handsontable-official/tree/master/demo) directory of this repo?

Also, please run `npm install` before building it with webpack, as all of handsontable's dependencies (including numbro) need to be ready for it to build properly.

[2017-04-18 15:48] morkro commented on #2
Yeah, I have run `npm install` before but it still didn't work. I think the problem can be fixed by importing the full version of Handsontable instead:

[code]

[2017-04-26 18:14] davidwallacejackson opened #3 "Redistributable build?"
The install process for this wrapper is pretty complicated -- it seems like it'd be easier if the wrapper had a precompiled distribution, like the main HOT library. The dependencies (including HOT itself) could be provided as [externals](https://webpack.js.org/configuration/externals/) and listed as peerDependencies.

[2017-04-26 19:05] Luiz-N commented on #2
we got it working by modifying the import statements as follows:

[code]

[2017-06-06 04:07] SidFeng opened #4 "Uncaught SyntaxError: Unexpected token import"
Anybody can help me?
![image](https://cloud.githubusercontent.com/assets/6702354/26815994/046493cc-4ac2-11e7-87e6-f242d694b028.png)
this is my webpack.config.

[code]

[2017-06-06 07:21] SidFeng commented on #4
I fixed it by myself.
[code]

[2017-06-06 07:21] #4 closed, assigned to nobody

[2017-06-06 15:13] MatthiasRMS opened #5 "Handsontable.Dom undefined with vue handsontable"
I'm using Handsontable Vue integration, and I'd like to use a custom renderer.
In your examples, you have:

[code]

However `Handsontable.Dom` is undefined and the `addEvent` function fails.
Did you ever run in an issue like this ?

[2017-06-07 08:15] iuphero opened #6 "Cannot find module 'pikaday'"
I use webpack2.
Error is `Cannot find module 'pikaday'`

[2017-06-08 04:38] robarchibald commented on #2
If you're using webpack v2, you'll need to use a different syntax. This is what I propose be added to the wiki to clear this up. Unfortunately, I can't submit a pull-request to the wiki.

----------------------
However, to make Handsontable work properly, we'll also need to expose all of the Handsontable's dependencies to the global context. The [webpack expose-loader](https://github.com/webpack-c

[2017-06-08 04:41] robarchibald commented on #6
I ran into this as well, only mine was complaining about numbro. See issue #2 for my proposed update to the wiki for webpack2. After I made the change, it works for me.

[2017-07-20 08:19] jansiegel commented on #6
@happyhero0, @robarchibald, could you try updating to the latest version and see if it's still a problem? Since version `1.0.0` all the Handsontable dependencies should be imported automatically, please see the current installation instructions: https://github.com/handsontable/vue-handsontable-official/wiki/Installation-guide#basic-installation

[2017-07-20 08:33] jansiegel commented on #3
@davidwallacejackson, since version `1.0.0` the installation process is much easier: https://github.com/handsontable/vue-handsontable-official#basic-usage

Basically, importing
[code]
should be enough to get going, all the Handsontable dependencies should work automatically.

[2017-07-20 08:34] jansiegel commented on #2
We've just released version `1.0.0`, which simplified the installation process: https://github.com/handsontable/vue-handsontable-official#basic-usage

Currently, there's need to import and expose any of the Handsontable dependencies, as they should work automatically.

Hope this helps!

[2017-07-20 08:52] jansiegel commented on #5
@MatthiasRMS, did you import Handsontable in a file where you're declaring the custom renderer?

[code]

[2017-07-26 14:52] bd8 opened #7 "How can I get the data"
Hi,

i know its not a issue but I can´t get the current data and send it with axios for example.

It is possible to get a basic code for that? Thanks

[2017-08-01 21:57] mekhami commented on #2
Unfortunately, this isn't "just working" out of the box. I have an existing Vue.js app.

I ran `npm install --save vue-handsontable-official`, and in my App component, `import HotTable from 'vue-handsontable-official`. I followed the rest of the instructions for using this component, but when I try to build I get errors such as:

[code]
I manually added `babel-preset-2015` to my package.json, inst

[2017-08-02 23:09] mekhami opened #8 "Build fails on demo found in README"
Here's my code:

[code]
Here's my package.json:

[code]

Here's my webpack config (generated by vue-cli):
[code]
When I build my project, I get the following error:

[code]

What am I missing?

[2017-08-02 23:42] mekhami commented on #8
So it seems that vue-handsontable-official is not doing its own transpiling. Why is this? The transpile should absolutely be handled by the build process here so that Uglify can receive ES5 code from node_modules.

Is this a conscious decision or an oversight?

[2017-08-04 06:35] mouradmamassi commented on #5
Hello the probleme is that **Handsontable.Dom** doas not defined but the **Handsontable.dom** is defined so you must juste write "**Dom**" in lower case

[2017-08-12 08:38] phamvanthanh opened #9 "How to implement search feature in vue?"
Hi @wszymanski
How to do that?

[2017-08-12 08:59] #9 closed, assigned to nobody

[2017-08-16 21:37] eard7 commented on #7
Maybe a little too late but hope this help someone in the future,

You need to put a ref to your hot-table component
`<hot-table root="testHot" ref="testHot" :settings="handsonSettings"></hot-table>`

and then call this function
`this.$refs.testHot.table.getData()`

It's important to say that "table" is the instance returned by the handsontable constructor, so you can call all the handsontable met

[2017-08-29 17:58] davidwallacejackson commented on #3
Unfortunately, I'm still getting the same errors, and I need to manually install and expose the dependencies. I checked the installed version of vue-handsontable-official, and it still only has the package source -- no compiled distribution. Am I doing something wrong?

[2017-09-11 13:33] krimes commented on #8
Hi @mekhami
I too have experienced this problem. And her decision was to move the library to a folder not located in the `node_modules`. And writing
[code]
Most likely the problem is in the configuration of Webpack:
[code]
Should
[code]

[2017-09-21 02:14] stovd opened #11 "how to use handsontable-pro in vue-single-project"
hi,
i have a problem by handsontable,how can i use handsontable-pro version in vue-project.
now in my project,i use vue-handsontable-official.but it is Handsontable CE version.i want all function like handsontable-pro.of course,i can buy pro-version,but i want to use in vue-project.thanks.

[2017-09-21 07:42] #5 closed, assigned to nobody

[2017-09-21 10:58] AMBudnik commented on #11
Hi @stovd

Have you tried to take the steps from the tutorial at https://github.com/handsontable/vue-handsontable-official/wiki/Installation-guide? (PRO configuration at the bottom of the tutorial)

[2017-09-28 21:48] zbyte64 opened #12 "Webpack instructions"
There should be instructions on how to make this work with webpack. The following worked for me:

[code]

[2017-10-04 17:44] casoetan commented on #2
@jansiegel I'm having the same issue with @mekhami
[code]

[2017-10-10 10:52] thanatva opened #14 "How can I use getData() with HotTable component?"
Hi,

If I want to use [getData()](https://docs.handsontable.com/0.16.1/Core.html#getData) method of Handsontable from this component, how can I use it?

Template
[code]

Script

[code]

Note: I'm using Nuxt.js and register HotTable as Vue component inside a plugin

[2017-10-11 18:44] kimond commented on #2
On my end, I have this issue whatever I put in my webpack.

[code]

[2017-10-14 22:09] ismet commented on #2
I'm getting exactly the same error.

[code]

[2017-10-16 12:00] npaulOB opened #15 "text renderer function in vue handsontable official package"
How can I use textRenderer or imgRenderer function in vue handsontable package? I am validating a CSV file and I need to highlight the error cells / td.

[2017-10-17 08:42] noninyo opened #16 "how to catch an event"
Hi,
I would like to use afterChange event

template:
`<HotTable root="hotgrid" :settings="hotSettings" @afterChange="saveChanges"></HotTable>`
script:

[code]
Thanks!

[2017-10-18 21:40] brianvoe opened #17 "LicenseKey"
I added license key to the setting being passed in and it still doesnt get rid of the trial div and i still get a console log error.

[2017-10-19 08:27] AMBudnik commented on #17
Hi @brianvoe

Please contact me at support@handsontable.com. I will check if the key is valid.

[2017-10-21 08:26] Alex-Sokolov opened #18 "Error in HotTable.vue"
Now in `HotTable.vue`
[code]
In Vue templates there is no need to write `this`

[2017-10-26 14:22] cordeirovs commented on #2
I got it working with `npm i -S babel-preset-es2015`.

[2017-11-01 18:21] JakeAlmer commented on #8
getting the same problem, you guys find a solution?

[2017-11-01 23:09] atelierJVA commented on #16
Hi,
I had the same need, and I solved it by calling the $emit function of the HotTable component from
the relevant handsontable event handler (afterPaste in my case).

Here is the sample code:

[code]

[2017-11-02 14:16] noninyo commented on #16
Thanks, I'll check it

[2017-11-03 15:38] TJKoury commented on #14
Add an 'afterChange' (or whatever) event hook.  Inside each event hook the 'this' keyword is the instance of the table.  There's probably another more programmatic way to do it by getting the component instance directly [like this](https://github.com/handsontable/vue-handsontable-official/issues/7), but this is what I'm working with, especially because you want to get the data after it changes, in

[2017-11-03 16:15] TJKoury opened #19 "Webpack Config issue"
Creating an alias seems to screw up handsontable-pro finding the plugins provided in handsontable:

[code]
Really should have handsontable-pro be a complete drop in replacement for handsontable.

[2017-11-03 16:26] TJKoury commented on #11
@AMBudnik I just posted another [issue](https://github.com/handsontable/vue-handsontable-official/issues/19); the problem is that both vue-handsontable-official and handsontable-pro reference 'handsontable', so aliasing 'handsontable' results in handsontable-pro looking to itself for the dependencies.

The solution could be one of the following:

- Add a vue-handsontable-pro-official that depends

[2017-11-03 16:56] TJKoury commented on #7
@eard7 I tried that but am getting "TypeError: Cannot read property 'getData' of undefined".

I've analyzed the component in Vue Tools (and dumped it to console), the Vue instance does not contain the property 'table'.

Any ideas?

[2017-11-03 17:07] eard7 commented on #7
@TJKoury That's weird. The code i published is what worked for me. Did you installed the handsontable dependency? (npm install -s handsontable)
EDIT.
Forget that, vue-handsontable-official should install it automatically.
I can't figure out another reason, but what is for sure is that the handsontable instance is not being initialized :/.
If you go to vue-handsontable-official/src/helpers.js, the

[2017-11-03 17:19] TJKoury commented on #7
Found the problem.  The instance can only be accessed after it has been initialized!

[2017-11-03 17:35] TJKoury commented on #7
I had to add a property to the parent Vue instance (this.mounted) when it's mounted, and check for that property whenever I want to save data.

Also, trying to use this with Vuex two-way binding is very difficult.

[2017-11-03 21:48] eard7 commented on #7
@TJKoury i see, i didn't had that problem because i accessed the instance with the click of a button (some time after the component mounted). Glad it worked for you, and yeah it's a little tricky but works.

[2017-11-03 21:53] TJKoury commented on #7
@eard7 Thanks.  Also if anyone else is having issues with Vuex, try listening for afterChange events on the table and feeding data back to mutations:

[code]

[2017-11-05 07:31] eard7 commented on #8
@JakeAlmer i had the same problem, but solved it.
I am assuming you are using webpack. You need to install the latest version of uglifyjs-webpack-plugin with
`npm i -D uglifyjs-webpack-plugin`

Then in your webpack config add this at the top of the file (in my case the file was webpack.prod.conf.js)
`var UglifyJSPlugin = require('uglifyjs-webpack-plugin')`

And then find and replace this
`new webp

[2017-11-06 11:02] #16 closed, assigned to nobody

[2017-11-06 11:57] alexon1234 opened #20 "Undo not working"
@handsontable
I am trying to use the undo method but I dont know how to make it work in vue handsontable.
I have seen the demo like this one http://jsfiddle.net/s6t768pq/609/ where by default comes enabled.

I try on vue to enable by default, but i can not make it work. Anyone have been able to make it work?

[code]

PS. If I check the component I have  ```undo=true``` , but ```isUndoAvailable() =

[2017-11-09 04:36] samertm commented on #20
I ran into this problem too. When I looked into it, I found that the problem was caused by something emitting a 'loadData' event every time you update a cell, and the undo plugin listens for events in onAfterChange and clears the undo plugin if it sees a 'loadData' event.

This plugin emits a loadData event for every edit because it calls `this.table.updateSettings` in updateHotSettings and update

[2017-11-09 08:31] alexon1234 commented on #20
Thanks for the information. I will check your solution

[2017-11-09 21:47] alexon1234 commented on #20
It worked, but I think depends how you use Handontable, you will lose the reactivite and you will be force then to call manually to `updateSettings ` when you needed

[2017-11-10 14:02] alexon1234 opened #21 "Render a component inside a Custom Render"
Currently, I am trying to create a custom render cell where the user will be able to upload some files. But I am facing the problem to render an upload component inside each cell of the column.

Does anyone have an idea of how to achieve this??

Thank you so much

[2017-11-10 14:04] AMBudnik commented on #21
Hi @alexon1234

if that helps I have an example that uses vanilla version http://jsfiddle.net/handsoncode/bra4qfy7/

[2017-11-10 18:05] aspben commented on #7
@TJKoury  Can you expand you code a little bit before the afterchange:

if i try your suggestion like this :
[code]

this refer to handsontable instance and i cannot access the store directly. this.$store = undefined

there is something i am missing here. Thank for your help

[2017-11-11 18:30] alexon1234 commented on #21
Cześć,
So then... I understand that there is nothing implemented to link a cell to a Vue component.
Like a custom renderer but instead of writing all the code inside of the custom renderer function just like it to a component

[2017-11-11 23:06] dmitriy-01 opened #22 "How to load data with ajax?"
Could someone please explain or show how to use this example https://docs.handsontable.com/0.34.5/tutorial-load-and-save.html with Vue?

I'm using Laravel 5.5 with Vue and trying to load and update data with ajax. Basic example with static data https://github.com/handsontable/vue-handsontable-official/wiki/Installation-guide works fine for me.

Any help appreciated.

Thanks.

[2017-11-13 13:34] AMBudnik commented on #21
Cześć :)

The cell with a custom renderer can take anything that uses HTML. You just need to check if the height/width are equal to the content that you want to display. You can refer to the context via `td.innerHTML` option.

Do you have any particular component on your mind?

[2017-11-13 14:41] alexon1234 commented on #21
I have implemented a uploader cell in order to upload a file for each row

[2017-11-15 13:32] RobertoPrevato opened #23 "Dependency not found: !handsontable/dist/handsontable.full.css"
Hi,
I followed the instructions described here : [https://github.com/handsontable/vue-handsontable-official/wiki/Installation-guide](https://github.com/handsontable/vue-handsontable-official/wiki/Installation-guide); using official Vue.js project template and installed properly HandsonTable pro using npm.

I am getting the following error:
[code]

What piece of information is missing?

Best Regard

[2017-11-15 16:39] alexon1234 commented on #23
This seems like is a problem with webpack. Could you show your webpack.config file?

[2017-11-15 19:11] RobertoPrevato commented on #23
Thanks for replying so quickly.
I am using the official Vue.js template, obtained using the following commands:
[code]
I didn't modify the build configuration, hence webpack.base.conf contains:

[code]

and webpack.dev.conf.js contains:
[code]

I installed handsontable-pro using npm install, and followed the instructions to have the alias resolving "handsontable" to the "pro" name, which is the on

[2017-11-16 08:38] treasureDouDou opened #24 "Cannot read property 'view' of undefined"
When I click the right mouse button, select any border in the table line, and the error message will be prompted

![image](https://user-images.githubusercontent.com/21187862/32881411-23c1f638-caec-11e7-9c91-51e2c5c34074.png)

[2017-11-16 14:51] davidm-public opened #25 "TS2307: Cannot find module 'vue-handsontable-official'."
Vue2 / Typescript project:

[code]

error: TS2307: Cannot find module 'vue-handsontable-official'.

Relevant dependencies:

    "vue": "^2.5.3",
    "vue-handsontable-official": "^1.0.0",
    "typescript": "^2.6.1",
    "webpack": "^3.8.1",

[2017-11-16 19:54] kimond commented on #2
I tried again and everything works fine.

[2017-11-17 11:35] cordeirovs commented on #23
Hello,

I'm having the exact same error as @RobertoPrevato.
It happens when I add `handsontable: path.resolve(__dirname, 'node_modules/handsontable-pro'),` on 'webpack.base.conf'.

[code]

Regards,
Diogo Cordeiro

[2017-11-20 07:40] n-sikka commented on #23
I'm having a similar error in a nuxt vue project.
`Module build failed: Error: Failed to find '~handsontable/dist/handsontable.full.css'`

[code]

[2017-11-24 11:43] cordeirovs commented on #23
I fixed it by replacing
`handsontable: path.resolve(__dirname, 'node_modules/handsontable-pro')`
with
`handsontable: resolve('node_modules/handsontable-pro')`

[2017-11-28 04:17] PhilAndrew commented on #23
@n-sikka Did you solve the problem? I am having the same problem with Nuxt.js, specifically this one https://github.com/nuxt-community/koa-template

[2017-11-28 04:30] n-sikka commented on #23
@PhilAndrew I couldn't in any way other than doing this -> `const Handsontable = process.browser ? require('handsontable') : null`
its basically a nuxt variable that checks if the browser is there or not and then loads it.

I directly required it where i needed it instead of putting it in the `nuxt.config.js`

[2017-11-28 04:37] PhilAndrew commented on #23
Where did you place that line? Sorry I'm not very familiar with Nuxt.js, new to it.

[2017-11-28 04:41] n-sikka commented on #23
@PhilAndrew it's in place of the import statement in your component, where you wanna use it.

[2017-11-28 05:29] PhilAndrew commented on #23
Hi @n-sikka , actually I don't understand and I think I will drive you crazy if I keep saying I don't understand, but thanks for the hint, I got it to work by doing the following.

In nuxt.config.js I added
  mode: 'spa', // Required if using the tag no-ssr

in node_modules/vue-handsontable-official/src/HotTable.vue I changed the file as follows.

https://gist.github.com/PhilAndrew/ec2f1cbe59ef5a5

[2017-11-29 21:34] claudiozoocial commented on #5
@mouradmamassi thanks!!! it works!

[2017-12-03 14:20] PhilAndrew commented on #23
I found this is a valid solution for me now as it renders the handsontable in client side and prevents server side rendering.
https://gist.github.com/PhilAndrew/0c35112451bbc15a9999b7e867390e4b

I still had to wrap it in a no-ssr tag

[2017-12-04 18:18] Gaga86 commented on #20
I think I found the "root" of the bug and a temporary fix to the problem above.
In the file:
/node_modules/handsontable/dist/handsontable.js
near the end of this.loadData function is the following code:
`if (priv.firstRun) {
      priv.firstRun = [null, 'loadData'];
    } else {
      instance.runHooks('afterChange', null, 'loadData');
      instance.render();
    }`

When afterChange hook is call

[2017-12-04 21:20] aZilberstein opened #27 "Can't define my customRenderer"
Hello team, I'm having an issue with the following workflow:

1) Importing vue-handsontable-official into my component.
` import VueHandsonTable from 'vue-handsontable-official';
`
2) Trying to register a customRenderer by calling Handsontable.renderers.registerRenderer with all the necessary arguments and then getting:

3) Then trying to import Handsontable explicitly:
` import Handsontable from

[2017-12-04 22:06] aZilberstein commented on #27
UPDATE: Solely for experimental purposes I got into the HotTable.vue component in _node_modules/vue-handsontable-offical/src_ and tried to declare my custom renderer RIGHT AFTER the handsontable import:

[code]

And it worked! Thus it means that the component's internal Handsontable can not be overridden as it happens independently from my explicit import in the entry file or anywhere else...What

[2017-12-07 02:03] PhilAndrew commented on #7
You said : @aspben this refer to handsontable instance and i cannot access the store directly. this.$store = undefined

I have the same problem. How to solve?

[2017-12-07 02:10] aspben commented on #7
@PhilAndrew
Finally i got it working like this :

[code]

hope this work for you too !

[2017-12-07 02:10] TJKoury commented on #7
@PhilAndrew @aspben I ended up not using $store directly.  I created a computed property and used a method to set the value.

[2017-12-11 10:49] ccmiaomiao opened #28 "my handsontableInput is too wider"
i just setted
self.hotSettings = {
          data: self.dataSource // and there is just 1 col 1 row1
}
when i double click to edit the cell ,the handsontableInput>textarea is too wider than the table...
so , how can i set some style or settings can fix this
thx very much for helping~~

[2017-12-11 11:45] AMBudnik commented on #28
Hi @ccmiaomiao

the issue is already reported at https://github.com/handsontable/handsontable/issues/3815
it looks like it's the vanilla version

[2017-12-12 02:27] ccmiaomiao commented on #28
@AMBudnik roger that , thx

[2017-12-12 02:27] #28 closed, assigned to nobody

[2017-12-14 16:16] 3dots commented on #25
Same issue here. If I try to use typescript in a .vue file (within <script lang="ts"> section) the error shows up when compiling with webpack.

[2017-12-14 17:50] amc1999 commented on #23
Same problem just out of the box:
[code]
Replace content of vue standard `src/components/HelloWorld.vue` with any of Handsontable vue example and result is:
[code]
No changes done in vue, webpack, Handsontable, etc. and this is not Handsontable Pro, it is out-of the box "Hello world" vue-handsontable-official.

As quick temporary fix I can modify `...../node_modules/vue-handsontable-official/src/H

[2017-12-18 17:43] mihaiconstantin commented on #2
Same issue as @mekhami. Adding `npm i -S babel-preset-es2015` solved.

[2017-12-19 02:36] kscarrot commented on #23
I get same problem.Then i found that the path in '/node_modules/vue-handsontable-official/src/HotTable.vue',<style>@'blablaxxxx'</style> is not right,you can fix it to a right path,and copy .full.css file to it.

[2017-12-21 03:20] GreenMelon commented on #27
tyr to use
[code]
instead of
[code]

[2017-12-25 09:09] aZilberstein commented on #27
@GreenMelon thanks for you reply.

The import is made within the vue-handsontable-official package's component...Not in my project's files. Would it be appropriate if I forked the package to rewrite the import in this single component, just for my needs?

Perhaps it would be "cleaner" if there were some options in the vue-handsontable-official component configuration...What do you think?

As of no

[2017-12-25 10:50] SWaiter opened #29 "how to dispaly the table menu (right click) on the top layer,if this in a dialog box?"

[2017-12-26 06:37] SWaiter commented on #29
I solved this problem ，I set the css of class htMenu ，setting z-index is a big int number and !important ,ps:
.htMenu{
    z-index: 214748364 !important;
  }
ths

[2017-12-26 09:25] gralance commented on #23
@amc1999 's workaround solution just works! thank you

[2018-01-01 03:21] Xigtim opened #30 "How to Force a Re-Render?"
Hi Everyone,

I'm trying to make the grid re-render, however I cant figure out how to do it.

According to the official documentation I need to reference the Handsontable object. But I cant access it from the Handsontable Vue Component.

['Understand Binding as a Reference':](https://docs.handsontable.com/0.35.0/tutorial-data-binding.html)
[code]

 Any suggestions?

Thanks in advance!

[2018-01-03 08:37] awulkan commented on #2
Installing `babel-preset-es2015` worked for me as well, BUT I get a warning that I shouldn't be installing it because they recommend `babel-env` now. Someone should probably look into this.

[2018-01-03 09:19] superpig commented on #30
same problem +1

[2018-01-03 16:29] nicolasxu opened #31 "Module build failed: Error: Couldn't find preset "es2015" relative to directory "/Users/projects/vs-vue2/node_modules/vue-handsontable-official""
Error when importing the hottable:

  import HotTable from 'vue-handsontable-official';

will result the following error:

Module build failed: Error: Couldn't find preset "es2015" relative to directory "/Users/shenxinxu/projects/vs-vue2/node_modules/vue-handsontable-official"

How to fix it?

[2018-01-04 03:37] sonmunehiro commented on #15
+1

[2018-01-04 04:13] ccccps commented on #15
Add `import Handsontable from 'handsontable'`,
and use like `Handsontable.renderers.TextRenderer`

[2018-01-04 07:40] huangsinchu commented on #31
`npm install babel-cli babel-preset-es2015`

[2018-01-04 08:13] Xigtim commented on #30
Help please, I really need to know how to do this.
Thanks!

[2018-01-08 07:20] qiumobai commented on #30
same problem +1

[2018-01-08 14:24] tonypolik commented on #30
I think it's not documented, but the component has a `table` property which is a reference to the Handsontable object. See [here](https://github.com/handsontable/vue-handsontable-official/blob/master/src/helpers.js#L52).

Assuming you have access to the HotTable component via `$refs`, you can do something like:

[code]

[2018-01-09 06:12] kieranongh commented on #7
If you use a bit of JavaScript and Vue magic, I just got this working for me
(Syntax is ES6)
[code]

This lets you use the Vue instance `this`, but can no longer use the Handsontable instance `this`. I don't think I'll need it, so I'm happy to make that compromise

[2018-01-16 08:15] zhaoshaomeng opened #33 "Nested rows with handsontable in Cell regarding vue-handsontable-official?"
Hi,

I am new to vue-handsontable-official, and now would like to get the simialr result as below link shows:
https://jsfiddle.net/59dz92jh/55/

The above is using the handsontable directly, NOT the vue-handsontable approach, how should I do in vue-handsontable-official context?

Thanks for kind help!

[2018-01-16 11:17] xeoshow commented on #33
I am the same team with the issue owner. And we have already made it work with PRO version, so the nested rows feature is available now ...

[2018-01-16 12:24] AMBudnik commented on #33
This conversation has been redirected to email support channel.

[2018-01-16 12:24] #33 closed, assigned to nobody

[2018-01-17 09:59] binary4cat opened #34 "How to use handsontable Methods in Vue"
Hello, I have a question,how to use Methods of handsontable in Vue?
For example：
[code]
How do I use `hot.selectCell` in the vue.
thx!

[2018-01-18 02:32] binary4cat commented on #34
Can use `ref` to solve the problem!
[code]

[2018-01-18 09:57] AMBudnik commented on #34
Thank you for an update. I guess that we can close the issue

[2018-01-18 09:57] #34 closed, assigned to nobody

[2018-01-18 12:49] karamasoff commented on #31
Isn't it a way to just configure the `babel-preset-env` to make it work fine ?
On babel website the use of `babel-presets-es20**` are discouraged in profit of `babel-presets-env`.

[2018-01-19 15:50] eljefedelrodeodeljefe commented on #23
Is there an official workaround. Going into `node_modules`? is out of the question.

[2018-01-20 03:53] amc1999 commented on #23
I am humbling to create PR just to to remove ~ in the `@import "~handsontable/..."`  and sincerely hope it would be fixed in the next release. In the meantime I am using `npm i handsontable`  and do include modified `vue-handsontable-official` as part of /src/ (my project MIT-licensed).

Other reason to modify `vue-handsontable-official` is to apply vue default out-of-the-box linting. It is also t

[2018-01-20 22:18] mismith commented on #2
Anyone here to tackle this?

[2018-01-20 22:19] mismith commented on #31
Agreed, should probably change this to use `env` instead of `es2015`

[2018-01-21 06:47] xeoshow commented on #30
Also met the same problem.
How can we create a "new Handsontable" via js code? Currently from the sampleApp.vue, it is just done in template part as below:
------
    <div id="hot-preview">
      <HotTable :root="root" :settings="hotSettings"></HotTable>
    </div>
------

Just would like to know the counterpart of the js code ...

Thanks !

[2018-01-25 11:02] grund3g opened #35 "Numeric / Currency formatting"
Hi,

is there anything I'm missing when using a numeric format for cells? (as described here: [https://docs.handsontable.com/0.35.1/demo-numeric.html](https://docs.handsontable.com/0.35.1/demo-numeric.html))

Should I also include https://docs.handsontable.com/0.35.1/bower_components/numbro/dist/languages.min.js?

[2018-01-30 06:23] kieranongh commented on #27
Bump. Exactly the same problem and exactly the same hack solved it (Registering the custom renderer in HotTable.vue)

[2018-01-30 14:12] AMBudnik commented on #35
Hi @grund3g

We would need to investigate this case. It looks like the wrapper does not accept the external _languages_ file and is able to handle only `en-US` currency.

[2018-01-30 16:55] francoismart commented on #7
Hello how do you access the HotTable component from Parent (in the case Handsontable is inside a HotTable.vue inside another main component) ?

[2018-01-31 07:51] superpig opened #36 "webpack build error"
![image](https://user-images.githubusercontent.com/5066518/35610934-32f402a2-069e-11e8-9227-128ab6180001.png)
when I update vue-handsontable-official@1.1.0, the webpack throw the error, Could author build the source code of vue-handsontable-official before publish the npm package ?

[2018-01-31 08:06] AMBudnik commented on #36
Thank you for sharing. We will check that.

[2018-01-31 09:24] superpig commented on #36
@AMBudnik  I have found that other version has the same problems,  could you fix it as soon as possible ? I want to use it in production.

[2018-01-31 09:41] superpig commented on #36
I have solved it by adding webpack config, but it is not the best way, users shouldn't hack it:
[code]

[2018-01-31 14:39] michaelkrnac opened #37 "Rows missaligned when fixed column is used with cells that contain wrapped text"
I use

- "handsontable-pro":"^1.15.1",
- "vue-handsontable-official": "^1.1.0",
- Chrome 61 on Windows

If i have wrapped text in the cells and fixed columns i get a missalignmend in the rows at the point between fixed and rest columns.

The problem is described in the following issue:
https://github.com/handsontable/handsontable/issues/3239

But the fix does not work for me with vue-handsontable-

[2018-02-02 19:31] rswheeldon commented on #36
Thanks. This does look like a dirty hack but it worked for getting this working for me. Previous behaviour on IE11 was to display an error saying "SCRIPT1002: Syntax error". Adding resolve('./node_modules/vue-handsontable-official') to the webpack conf fixed it.

[2018-02-06 12:19] abrim opened #38 "infinite update loop in watcher with expression "settings" with minSpareRows > 0"
When I set minSpareRows=1 as a prop or in hotSettings, I get an infinite update loop warning, a large number of blank rows are added to the table and multiple 'loadData' events are emitted.

[2018-02-06 12:43] AMBudnik commented on #38
Hi @abrim

I was not able to replicate the issue using the `demo` folder from this repository on my local machine. Have you just added the `minSpareRows` > 0 or something else as well? Or maybe you have performed some operations? I was just checking the scrolling and editing.

[2018-02-06 13:07] AMBudnik commented on #37
Hi @michaelkrnac

Can you record the behavior? I am not able to replicate it on my local machine. I am also trying it on Chrome (but v63) on Windows.

[2018-02-07 10:24] michaelkrnac commented on #37
Hi AMBudnik,

here is the record.
![handsontablevuebug](https://user-images.githubusercontent.com/3944657/35910961-a8015d60-0bf8-11e8-9ac5-11553ed55534.gif)

And here are the hotSettings i use.
It is also reproducable with Firefox 58.0.1 on Windows.
[code]

[2018-02-07 13:54] AMBudnik commented on #37
Thank you for sharing.

I have replicated the issue on Firefox 58. However, I have Chrome 63 that does not reflect the same issue.

[2018-02-07 21:38] abrim commented on #38
The issue seems to only occur when I have a calculated column ( i.e. with data:function(row,val) ) - even if the column just returns a constant.

[2018-02-08 02:48] superpig opened #39 "removeRow not change data"
when i remove a row and afterRemoveRow event is fired, there is no influence on data, but the display of hansontable is changed.

[2018-02-08 07:50] AMBudnik commented on #39
Hi @superpig

I am using the simple code to check it

[code]

and it works fine on my local machine using the demo from this repository. Can you share your hook logic?

[2018-02-08 07:55] AMBudnik commented on #38
Can you share your data?

I am using the following settings

[code]

What should I change/add to replicate the issue?

[2018-02-08 13:14] abrim commented on #38
Sorry I've been busy since I posted the bug & haven't been able to respond properly.  Here's a sample hotSettings that exhibits the problem:

[code]
without the calculated column or setting minSpareRows to 0, the code runs without issue.

Interestingly, if I pass a data prop to the element as so:

[code]

(where buldData is the function specified in the hotSettings data property) I get only twice

[2018-02-08 13:47] AMBudnik commented on #38
Thank you for sharing the code. I have replicated the same error on my local machine. And I can also confirm that `minSpareRows` causes the issue.

[2018-02-14 07:14] michaelkrnac commented on #37
I have the problem also with Chrome 64.

[2018-02-17 18:28] titan83 commented on #30
Hello, guys.
@tonypolik show us right direction, but so lamer like me)) don't see all picture. But after "smoking" vue docs https://vuejs.org/v2/guide/components.html#Child-Component-Refs I did next hack for rerendering:
`<HotTable :root="root" :settings="hotSettings" ref="myTable"></HotTable>`
Here ref prop is very important.
We will use it in js code:
this.hotSettings.colHeader[0] = 'We changed

[2018-02-23 13:07] timvisee commented on #8
After applying these changes, this error still shows up in my configuration (in a personal project).
I'm running `vue-handsontable-official` version `1.1.0`.

Edit: I was able to solve it using the change in this post instead: https://github.com/handsontable/vue-handsontable-official/issues/36#issuecomment-361877334

[2018-02-27 04:51] simon9124 opened #41 "Why I cannnot install handsontable-official? urgent!"
Thanks for the development team for develop the handy component, but I encountered some problem in my vue-cli project when installing vue-handsontable-official:

The first is about installing handsontable-official that it reply "peerDependencies WARNING vue-handsontable-official@^1.1.0 requires a peer of handsontable@^0.35.1 but handsontable@0.36.0 was installed!".

**But handsontable now is hands

[2018-02-27 09:57] aalsiuser commented on #41
First i will talk about your 1st warning actually it is a dependency related issue, vue -handsontable needs "Babel-preset-es2015" plugin to work with vue.
And coming to 2nd warning it says it didn't find handsontable.css file in your node modules folder,so for this you need to install handsontable plugin .

[2018-02-27 12:22] AMBudnik commented on #41
Thank you for your feedback @aalsiuser
Let us know if you have managed to install the app.

[2018-02-28 08:51] aalsiuser commented on #41
@AMBudnik Yes, i managed to install the app by following below steps
1.first i installed the official handsontable plugin for vue which is "vue-handsontable-official" and then compile through webpack.
2.when you compile you will get an error like this  **"Couldn't find preset "es2015" relative to directory "** for this you need to install plugin "Babel-preset-es2015" as a dependencyand then once a

[2018-02-28 10:12] GiuMagnani commented on #25
Did you solve it?

[2018-02-28 11:24] AMBudnik commented on #25
Hi guys,

sorry for the delay.

I have to say that we did not have any spare time to update the wrappers so the following issues may occur.

We are planning (and I really hope that we'll be able to reach this goal) to update the wrappers and fix some smaller issues in Q2 this year.

[2018-02-28 13:27] AMBudnik commented on #41
Thank you for an update @aalsiuser
And you @simon9124?
We will be updating the wrapper in Q2 so all the feedback is highly appreciated

[2018-03-01 13:02] GiuMagnani commented on #23
Any workaround for this without editing `node_modules` package?

[2018-03-01 14:18] amc1999 commented on #23
There is already a pull request standing in line since January 11, not sure when it is going to be committed.

[2018-03-02 09:28] simon9124 commented on #41
@aalsiuser Thanks a lot! Sorry be late for studying "vue-croppa" these 2 days, I donnot know alot about  "Babel" and I will try your methods. For the Q2 I even throw the whole the file of address into the required index but still do not work, So let's expect the updating wrapper!

[2018-03-02 09:33] simon9124 commented on #41
@AMBudnik Year I will try to use "Babel" and expect the updating wrapper!

[2018-03-03 05:26] httpete opened #42 "Vue-feathers / handsontable and websockets?"
Hi,

I am trying to wire up handsontable with vue. I am using feathers on the backend, and I am using vue-feathers to access my service.

[code]

the data is there, but if I put it into hottable:

`<HotTable root="root" :data="users" />
`
It doesn't work. I am new to websockets, is there some lifecycle hook I need to do before I load the websocket data?

[2018-03-03 10:08] iftu06 commented on #5
i face a similar problem in handsontable angular wrapper. i used following line
           Handsontable.dom.empty(td);

it shows an error like
 TypeError: Cannot read property 'dom' of undefined

I imported  handsontable.

[2018-03-03 16:14] httpete commented on #30
Struggling, I must not understand something core.  I have the ref to my hotTable. but it won't render the array of objects.

`  mounted() {

    let vm = this;
      this.$feathers
        .service("teams")
        .find()
        .then(d => {
           vm.$refs.testHot.table.data = d.data;
           vm.$refs.testHot.table.render();
           debugger;
        });

  },`

[2018-03-03 20:59] httpete commented on #42
If anyone else sees this, it is confusing but the doc says community edition can take an array of objects which it cant. Simple mapping to arrays fixes:
[code]

[2018-03-03 20:59] #42 closed, assigned to nobody

[2018-03-05 01:56] BBaek commented on #2
I installed babel-preset-es2015. But when i try build, I got an error such as:

<pre><code>This dependency was not found:

* handsontable in ./node_modules/babel-loader/lib!./node_modules/vue-loader/lib/selector.js?type=script&index=0!./node_modules/vue-handsontable-official/src/HotTable.vue, ./node_modules/vue-handsontable-official/src/settingsMapper.js and 1 other</code></pre>

[2018-03-05 01:59] kimond commented on #2
@BBaek As stated in the release information of the last version https://github.com/handsontable/vue-handsontable-official/releases/tag/1.1.0. You need to install handsontable **separately**.

[2018-03-05 02:15] BBaek commented on #2
@kimond I installed 2 modules separately by npm. But same errors.
<pre><code>
├─┬ handsontable@0.35.1
│ ├── moment@2.20.1
│ ├── numbro@1.11.0
│ └─┬ pikaday@1.5.1
│   └── moment@2.20.1 deduped
├── vue-handsontable-official@1.1.0
</code></pre>

[2018-03-05 03:48] chenghsuan opened #43 "How to work in IE?"
Hi there,
I found that can not run vue-handsontable-official in IE browser.
Even the [demo page](https://handsontable.github.io/vue-handsontable-official/demo/) can not work too..

[2018-03-05 04:43] chenghsuan commented on #43
I solved the problem follow this [issue](https://github.com/handsontable/vue-handsontable-official/issues/4)

[2018-03-05 04:43] #43 closed, assigned to nobody

[2018-03-05 06:37] AMBudnik commented on #2
Sorry for the delay. We will be updating the wrapper in Q2. Now as one of our devs tested the wrapper does not install itself properly

[2018-03-05 13:40] aalsiuser opened #44 "afterChange event calling twice? Urgent"
when editing a cell after change event is called twice and validation is overrided.
So kindly please help anyone from the community.

[2018-03-06 08:37] AMBudnik commented on #44
Hi @aalsiuser

for each change, the `afterChange` hook is called once. It only runs twice after table initialization.
Can you share your code? It looks like there is some operation that calls it independently.

[2018-03-08 02:18] simon9124 commented on #41
@aalsiuser Could you help me how to operate to "delete handsontable.full.css" about Q2?

[2018-03-08 03:15] simon9124 commented on #41
@aalsiuser According to the  error prompt, I new a index "~handsontable/dist/" in "node_modules\_vue-handsontable-official@1.1.0@vue-handsontable-official\src" and throw "handsontable.full.css" in it, luckly no error this time! Is the method the same to yours?

[2018-03-08 06:13] aalsiuser commented on #41
@simon9124 Yeah!!!! your logic is equivalent to mine but i have done in another way like bringing whole  vue-handsonable folder from the node-modules folder to project directory and then throwing handsontable.full.css????**And you have doubt why i did it ????**Yes!! there is a reason behind it actually my node-modules folder is ignored by git while pushing code to remote so for this reason i have

[2018-03-08 06:18] simon9124 commented on #41
@aalsiuser AHAHAHA~It makes me remember the sentence "Great minds think alike"! ^_^

[2018-03-13 14:38] AMBudnik commented on #17
The conversation has been continued on emails.

For all users who have similar problems: please use the above email channel to contact me directly.

[2018-03-13 14:38] #17 closed, assigned to nobody

[2018-03-16 08:55] ziveen commented on #31
**Module build failed: Error: Failed to find '~handsontable/dist/handsontable.full.css'**. I got this problem.But the file is in the folder.

[2018-03-16 09:08] titan83 commented on #31
@Luefeng, https://github.com/handsontable/vue-handsontable-official/pull/32
May be after your message dev team apply this pull request.

[2018-03-16 10:13] soakit opened #45 "Cells restored when other Cells changed"
![gif](https://user-images.githubusercontent.com/11240668/37515353-8150c4b6-2945-11e8-8fbb-8dbbace9703e.gif)

but there is no problem while not using **vue version**
https://jsfiddle.net/105e9ope/89/

[2018-03-16 11:15] AMBudnik commented on #45
Hi @soakit

it works fine in the demo that you've sent. Can you share a demo where the issue is replicable? Does it use the latest version of Handsontable?

[2018-03-16 15:09] soakit commented on #45
In your repository **vue-handsonetable-official**,
replace  **hotSettings** in the file **/demo/src/sampleApp.vue** with the hotSettings of the link https://jsfiddle.net/105e9ope/92/ , that can reproduce the issue

[2018-03-20 09:53] AMBudnik commented on #45
Thank you. I have replicated the issue. The demo uses version v0.35.1 of Handsontable on my local machine (which is hardcoded).
Can you try to load the version 0.38.1 by npm and check if the issue is still there?

[2018-03-21 03:34] soakit commented on #45
I have tried 0.38.1, it has been resolved. Thank you!

[2018-03-21 03:34] #45 closed, assigned to nobody

[2018-03-21 07:25] AMBudnik commented on #45
Great! Thank you for confirmation @soakit

[2018-03-30 08:56] jansiegel commented on #2
We made quite a big refactor of the wrapper structure, so it would be easier to configure.
Could you check if installing it as `@handsontable/vue` (or `@handsontable-pro/vue` for the Pro version) fixes your problems?

For more information on how to install it from version `2.0.0-beta1` onwards, see: https://github.com/handsontable/vue-handsontable-official/wiki/Installation-guide

[2018-03-30 08:57] jansiegel commented on #41
We made quite a big refactor of the wrapper structure, so it would be easier to configure.
Could you check if installing it as `@handsontable/vue` (or `@handsontable-pro/vue` for the Pro version) fixes your problems?

For more information on how to install it from version `2.0.0-beta1` onwards, see: https://github.com/handsontable/vue-handsontable-official/wiki/Installation-guide

[2018-03-30 08:58] jansiegel commented on #36
We made quite a big refactor of the wrapper structure, so it would be easier to configure.
Could you check if installing it as `@handsontable/vue` (or `@handsontable-pro/vue` for the Pro version) fixes your problems?

For more information on how to install it from version `2.0.0-beta1` onwards, see: https://github.com/handsontable/vue-handsontable-official/wiki/Installation-guide

[2018-03-30 08:58] jansiegel commented on #31
We made quite a big refactor of the wrapper structure, so it would be easier to configure.
Could you check if installing it as `@handsontable/vue` (or `@handsontable-pro/vue` for the Pro version) fixes your problems?

For more information on how to install it from version `2.0.0-beta1` onwards, see: https://github.com/handsontable/vue-handsontable-official/wiki/Installation-guide

[2018-03-30 08:59] jansiegel commented on #25
We made quite a big refactor of the wrapper structure, so it would be easier to configure.
Could you check if installing it as `@handsontable/vue` (or `@handsontable-pro/vue` for the Pro version) fixes your problems?

For more information on how to install it from version `2.0.0-beta1` onwards, see: https://github.com/handsontable/vue-handsontable-official/wiki/Installation-guide

[2018-03-30 09:00] jansiegel commented on #23
We made quite a big refactor of the wrapper structure, so it would be easier to configure.
Could you check if installing it as `@handsontable/vue` (or `@handsontable-pro/vue` for the Pro version) fixes your problems?
As it's a problem with the `css` files, it might help, as now `handsontable`'s `css` files are not a part of the build (need to be included separately)

For more information on how to

[2018-03-30 09:01] jansiegel commented on #19
We made quite a big refactor of the wrapper structure, so it would be easier to configure.
Could you check if installing it as `@handsontable/vue` (or `@handsontable-pro/vue` for the Pro version) fixes your problems?

For more information on how to install it from version `2.0.0-beta1` onwards, see: https://github.com/handsontable/vue-handsontable-official/wiki/Installation-guide

[2018-03-30 09:02] jansiegel commented on #12
We made quite a big refactor of the wrapper structure, so it would be easier to configure.
Could you check if installing it as `@handsontable/vue` (or `@handsontable-pro/vue` for the Pro version) fixes this problem?

For more information on how to install it from version `2.0.0-beta1` onwards, see: https://github.com/handsontable/vue-handsontable-official/wiki/Installation-guide

[2018-03-30 09:02] jansiegel commented on #11
We made quite a big refactor of the wrapper structure, so it would be easier to configure.
Could you check if installing it as `@handsontable/vue` (or `@handsontable-pro/vue` for the Pro version) fixes your problems?

For more information on how to install it from version `2.0.0-beta1` onwards, see: https://github.com/handsontable/vue-handsontable-official/wiki/Installation-guide

[2018-03-30 09:03] jansiegel commented on #8
We made quite a big refactor of the wrapper structure, so it would be easier to configure.
Could you check if installing it as `@handsontable/vue` (or `@handsontable-pro/vue` for the Pro version) fixes your problems?

For more information on how to install it from version `2.0.0-beta1` onwards, see: https://github.com/handsontable/vue-handsontable-official/wiki/Installation-guide

[2018-03-30 09:05] jansiegel commented on #3
@davidwallacejackson, we just did exactly what you described in your initial post :)
`@handsontable/vue` (and `@handsontable-pro/vue` for the Pro version) packages include a pre-built bundle, pre-configured for the CE or Pro packages, with `handsontable` (or `handsontable-pro`) listed as a peer dependency.

[2018-03-30 09:32] jansiegel opened #48 "Refactor the wrapper."
Refactor the wrapper, so it introduces scopes (`@handsontable/vue` and `@handsontable-pro/vue`), creates a distributable builds and removes the `handsontable`'s `css` files from the builds.

[2018-03-30 09:34] #48 closed, assigned to jansiegel

[2018-03-30 09:36] jansiegel commented on #48
Possibly related issues:
- https://github.com/handsontable/vue-handsontable-official/issues/2
- https://github.com/handsontable/vue-handsontable-official/issues/3
- https://github.com/handsontable/vue-handsontable-official/issues/8
- https://github.com/handsontable/vue-handsontable-official/issues/11
- https://github.com/handsontable/vue-handsontable-official/issues/12
- https://github.com/handson

[2018-03-30 09:44] masvin commented on #31
I had the same problem.

Following the instalaltion guide
https://github.com/handsontable/vue-handsontable-official/wiki/Installation-guide

_npm install vue-handsontable-official_
_npm install handsontable_

 ERROR  Failed to compile with 1 errors                                                                              11:29:28 AM
 error  in ./node_modules/vue-handsontable-official/src/HotTab

[2018-03-30 10:23] jansiegel commented on #31
@masvin, if you use the latest version from `@handsontable/vue`, this should no longer be an issue: https://github.com/handsontable/vue-handsontable-official/wiki/Installation-with-Handsontable-CE

[2018-04-02 04:27] hanxue opened #49 "Yarn / npm fail to resolve vue-handsontable-official@2.0.0-beta1"
I upgraded to 2.0.0-beta1

[code]

`yarn` or `npm` will complain dependency not found:

[code]

Using version `1.1.0` will not cause the problem.

My `package.json`:

[code]

[2018-04-02 04:46] hanxue commented on #23
@jansiegel could you re-open and consider a solution? I still have the same problem, and had to manually replace

[code]

with

[code]

Installing the `2.0.0-beta1` version directly from github does not get resolved by npm / yarn - #49

[2018-04-02 17:37] mismith commented on #2
Works for me, thanks @jansiegel!

[2018-04-03 07:10] jansiegel commented on #49
@hanxue Since version `2.0.0-beta1`this wrapper is available as `@handsontable/vue` or `@handsontable-pro/vue` for the Pro version.
Please refer to our wiki (https://github.com/handsontable/vue-handsontable-official/wiki) for installation istructions.

[2018-04-03 07:18] jansiegel commented on #23
@hanxue Could you check if installing it as `@handsontable/vue` (as I explained in #49) fixes your problem?

[2018-04-05 03:32] tylerkoldenjtp commented on #30
@tonypolik thanks for the tip!  Your solution only worked for me if I passed a string to the render function (I didn't try passing a function).  According to the [documentation ](https://docs.handsontable.com/pro/1.18.1/Options.html#renderer) I used 'numeric' because all of my fields were number fields.

`this.$refs.myTable.table.render('numeric')`

[2018-04-06 12:46] AMBudnik commented on #37
Hi guys. I have tested the following code http://jsfiddle.net/handsoncode/uftbx0oy/ with Handsontable v `0.38.1` and it seems to work on all browsers on OSX and WIndows. Can you check it?

[2018-04-07 14:42] dshinton-qstart commented on #35
I am having the same issue. Here is a demo which shows number formatting is not working.

https://codepen.io/anon/pen/EEOoWK

[2018-04-09 07:50] AMBudnik commented on #35
Hm... I do not know why but I cannot see anything loading incorrectly in your demo. They seem to have the same resources and logic as this one https://codepen.io/anon/pen/xWmLeg where `type: numeric` works well.

[2018-04-09 12:58] dshinton-qstart commented on #35
There is a big difference in the examples. Using an array of arrays (such as your example) works. Using an array of objects and column definitions using the "data" property breaks validation.

So that is the workaround for now. I will convert my project to use arrays of arrays instead of objects with keys.

[2018-04-09 13:37] AMBudnik commented on #35
You're right. When I convert it to an object that uses `data` parameter of the columns record the validation does not occur: https://codepen.io/anon/pen/ZxVMqE?editors=0010 If I do not use `data` for `columns` settings the cell is validated.

Thanks for spotting that @dshinton-qstart

ps. I think that we should open a new issue for the `data` topic. This issue is more for the `languages` conversio

[2018-04-09 15:06] dshinton-qstart opened #50 "Validation does not work when using objects"
Validation works when data is formatted as an array of arrays, but does not work when using an array of objects with a column definitions that use the `data` property.

See https://codepen.io/anon/pen/ZxVMqE?editors=0010 for an example.

PS: This issue was created based on a conversation found in Issue #35. Please see those comments for additional details.

[2018-04-09 20:12] gurvancampion commented on #50
Having the same issue, it seems the validation is working as when you get the cell meta the property "valid" is set to false.
Then if you edit again the cell, it will be displayed in red.

https://codepen.io/anon/pen/GxzKVb?editors=0010

[2018-04-26 09:50] andysongs commented on #27
@aZilberstein Hi Andy, I think I have the same problem as yours.
I tried the way you mentioned bofore:
[code]
It seems not working, and I don't know what to do next.

Could you please give me some tips to help me run it on?
Thanks a lot xD

[2018-04-26 10:32] aZilberstein commented on #27
@andysongs Hey, after all I figured that with _vue-handsontable-official_ wrapper it will not be possible for me to re-use these renderers in a convenient manner...
So I resorted to such a solution:
1) Created a mixin component with my "tableCellRenderers" which I called "TableUtils.vue"
2) I import this mixin into every component that needs those table cell renderers
3) For each table column in t

[2018-04-28 03:42] andysongs commented on #27
@aZilberstein Thanks for teaching me!
Your method works well, even though, as what you say, not very elegant.

After I solved the problem by your method, another thing began to bother me.
It is if I want to rewrite the style of this table, there are three different place to set: CSS, initialize options and the customRenderer(). But I found that the same property may have different performance.

e.

[2018-05-01 18:16] gurvancampion commented on #20
Up!
Having the same issue but I can't modify directly in the node_modules files in my project.
I have tried to override the function "loadData" but I didn't managed to find a solution.
Maybe it is possible to fix this problem with the quick fix above mentioned by @Gaga86 ?

[2018-05-02 22:36] #22 closed, assigned to nobody

[2018-05-08 10:34] cywcd commented on #39
Hello, is there any solution to this problem?

[2018-05-08 12:53] AMBudnik commented on #39
Hi @cywcd

I have checked the code on my local machine and it works well. Can you share your settings?

[2018-05-11 02:12] cywcd commented on #39
Hi @AMBudnik
I've set 'afterRemoveRow' but it's not effective to call an external call inside this function and the 'this' method has been defined. What's the reason?

[2018-05-11 02:33] cywcd commented on #39
Hi @AMBudnik
This is my local code.
`
const that = this;
afterRemoveRow: function(i, amount){
                        var vAslist = localStorage.getItem(“vAslist”);
                        vAslist = JSON.parse(vAslist);
                        var codeArr = [];
                        for(var j = 0; j < amount; j++){
                            if(vAslist[i] && vAslist[i].code){

[2018-05-11 06:38] AMBudnik commented on #39
Hi @cywcd

can you record a demo to let me see how it works on your end?

[2018-05-11 09:44] mrpiotr-dev commented on #49
I think we can close this issue. If you would like to use the most recent version of our wrapper, then install `@handsontable/vue` or `@handsontable-pro/vue`.
Feel free to reopen this issue if you find the same problem in the future.

[2018-05-11 09:44] #49 closed, assigned to nobody

[2018-05-11 11:37] mrpiotr-dev commented on #31
I think we can close this issue.
Feel free to reopen if you find the same bug in v2.0.0-beta1+

[2018-05-11 11:37] #31 closed, assigned to nobody

[2018-05-11 11:39] mrpiotr-dev commented on #23
I think we can close this issue.
Feel free to reopen if you find the same bug in v2.0.0-beta1+

[2018-05-11 11:39] #23 closed, assigned to nobody

[2018-05-11 11:48] mrpiotr-dev commented on #2
I think we can close this issue.
If you have a problem to install our wrapper, then follow installation guide.

[2018-05-11 11:48] #2 closed, assigned to jansiegel

[2018-05-11 11:53] mrpiotr-dev commented on #3
I think we can close this issue.
Feel free to reopen if you find the same problem in v2.0.0-beta1+

[2018-05-11 11:53] #3 closed, assigned to nobody

[2018-05-11 12:55] mrpiotr-dev commented on #35
Hi @grund3g, @dshinton-qstart
In UMD (as on Codepen) you can load languages as in my example: https://codepen.io/swistach/pen/jxxMBd
But if you try to use `numbro` + cultures in a project created eg. by vue-cli, then, unfortunately, you will get an error with unknown culture.
You can follow progress here: handsontable/handsontable#5081

[2018-05-11 13:04] mrpiotr-dev commented on #50
Hi @dshinton-qstart.
This bug occurs because of observing data changes.
Vuejs observes changes in objects but doesn't do it in arrays.
I think this is a high priority.

[2018-05-11 13:07] mrpiotr-dev commented on #44
Hi @aalsiuser,
this issue is related to #50. There you can follow the work progress.

[2018-05-11 13:07] #44 closed, assigned to nobody

[2018-05-11 13:09] mrpiotr-dev commented on #41
I think we can close this issue.
Feel free to reopen if you find the same problem in v2.0.0-beta1+

[2018-05-11 13:09] #41 closed, assigned to nobody

[2018-05-11 13:09] mrpiotr-dev commented on #36
I think we can close this issue.
Feel free to reopen if you find the same problem in v2.0.0-beta1+

[2018-05-11 13:09] #36 closed, assigned to nobody

[2018-05-11 14:18] mrpiotr-dev commented on #24
Hi @treasureDouDou,
Could you send us more information about versions of Handsontable, wrapper, Vuejs?
I've prepared an example: https://codepen.io/swistach/pen/Zooewb
Could you confirm that this issue still occurs?

[2018-05-11 14:20] mrpiotr-dev commented on #19
I think we can close this issue.
Feel free to reopen if you find the same bug in v2.0.0-beta1+

[2018-05-11 14:20] #19 closed, assigned to nobody

[2018-05-11 14:21] mrpiotr-dev commented on #12
I think we can close this issue.
Feel free to reopen if you find the same bug in v2.0.0-beta1+

[2018-05-11 14:21] #12 closed, assigned to nobody

[2018-05-11 14:21] mrpiotr-dev commented on #11
I think we can close this issue.
Feel free to reopen if you find the same bug in v2.0.0-beta1+

[2018-05-11 14:21] #11 closed, assigned to nobody

[2018-05-11 14:24] mrpiotr-dev commented on #6
I think we can close this issue.
Feel free to reopen if it still occurs.

[2018-05-11 14:24] #6 closed, assigned to nobody

[2018-05-11 14:47] mrpiotr-dev commented on #38
Hi @abrim,
unfortunately, this issue is related to #50.
Moreover, in the vanilla version of Handsontable this is also working unstable: http://jsfiddle.net/6t0r0xx6/

[2018-05-14 08:06] mrpiotr-dev commented on #30
Hi @Zigtim,
Here is a simple demo, how you can do it: https://codepen.io/swistach/pen/NMzmPa

@tonypolik is right. It's not documented enough good, and, as in his example, `this.$refs.myTable.table` is a reference to `Handsontable.Core`, so you can use each method from `Core`:https://docs.handsontable.com/pro/2.0.0/Core.html

[2018-05-14 08:06] #30 closed, assigned to nobody

[2018-05-14 08:13] mrpiotr-dev commented on #29
Hi @SWaiter,
Thank you for sharing the issue report of incompatibility. I'm glad that you found a workaround.
Your comment will be helpful for the community.

[2018-05-14 08:13] #29 closed, assigned to nobody

[2018-05-14 11:18] mrpiotr-dev commented on #14
Hi @Slasher154,
Here is an example: https://codepen.io/swistach/pen/XqBWQx

[2018-05-14 11:18] #14 closed, assigned to nobody

[2018-05-14 11:27] mrpiotr-dev commented on #18
Hi @Alex-Sokolov,
I think this is an improvement suggestion, not error.
Thank you for your sharing.

[2018-05-14 12:54] mrpiotr-dev commented on #25
Hi @davidm-public, @3dots, @GiuMagnani.
Currently, we don't support TypeScript officially for `@handsontable/vue` nor `@handsontable-pro/vue`.
We are open to any pull request from you.

[2018-05-14 12:59] mrpiotr-dev commented on #8
I think we can close this issue.
Feel free to reopen if you find the same bug in v2.0.0-beta1+

[2018-05-14 12:59] #8 closed, assigned to nobody

[2018-05-14 13:03] mrpiotr-dev commented on #7
I think we can close this issue. Feel free to reopen if you find the same problem.

@francoismart Could you create a new issue with details?

[2018-05-14 13:03] #7 closed, assigned to nobody

[2018-05-14 13:19] mrpiotr-dev commented on #15
Hi @npaulOB,
Here is an example: https://codepen.io/swistach/pen/LmBGpP

[2018-05-14 13:19] #15 closed, assigned to nobody

[2018-05-14 14:29] mrpiotr-dev commented on #27
Hi @aZilberstein.
Thank you for your sharing.
I would like to attach one example extra: https://codepen.io/swistach/pen/xjJVYd

@andysongs Could you open new issue with a question about column sorting? It will be easier to find a solution by others.

[2018-05-14 14:29] #27 closed, assigned to nobody

[2018-05-14 14:41] mrpiotr-dev commented on #20
Hi @alexon1234,
I think we have to fix #50 first.

At this moment I left label "bug". We have to verify it after fix #50.

[2018-05-14 14:47] mrpiotr-dev commented on #21
Hi @alexon1234,
At this moment functionality `component in renderer` is not supported.
I think we can close this issue. Feel free to reopen if you find any solution on this subject.

[2018-05-14 14:47] #21 closed, assigned to nobody

[2018-05-16 08:42] mrpiotr-dev commented on #37
Hi @michaelkrnac.
This bug occurs in main library handsontable/handsontable#3618. There you can track work progress.

[2018-05-31 03:08] inputherf opened #51 "vue-handsontable-official"
When using VUE version, it is not possible to use the normal version of the function, may I ask when the framework version of the document will be issued？
Now I need to merge the cells of the header, but the vue version does not work.please hellp me
![kq6f m72us2_ sd nci6](https://user-images.githubusercontent.com/28945810/40759050-e62f5c40-64c2-11e8-947d-c7ca22b72ea9.png)
![t4n8 d3g9e_2c 8vo p a]

[2018-05-31 07:25] chenghsuan opened #52 "How to registry a custom renderer"
Hi there~
I have a problem that how to registry the custom renderer with HotTable?
If use HandsonTable.js can use following to deal with
`Handsontable.renderers.registerRenderer('asterix', asterixDecoratorRenderer);`

Is there any way to handle custom renderer?

[2018-06-01 08:00] AMBudnik commented on #51
Hi @inputherf

`rowspan` is yet unavailable option for the `nestedHeaders`.

[2018-06-19 02:36] inputherf opened #53 "About vue-handsontable-official style"
When using vue-handsontable-official, there are many errors in the style when putting it into the project. How can I solve this problem?
That's one of the problems:
1.I don't want to add 2 rows automatically,What I need to do?
![1529375304 1](https://user-images.githubusercontent.com/28945810/41572740-eb10be50-73ab-11e8-89eb-683c1181939d.png)
![1529375373 1](https://user-images.githubusercontent.c

[2018-06-19 05:49] #53 closed, assigned to nobody

[2018-06-19 09:11] inputherf opened #54 "The width setting of the vue-handsontable plug-in does not work"
I'm sorry to bother you again. I just started this plug-in. I have encountered many problems when using it recently, but the Vue-handsontable document is too simple to understand.This time I want to set the width of the table, and if the content of the table exceeds the width of the current screen let the table overflow:auto;But the parent box is overflow:hidden.I hope so, but now setting the widt

[2018-06-20 11:40] AMBudnik commented on #24
I believe that this is no longer an issue as there is more than a month without any updates.
However, @treasureDouDou  let us know if you still get the log.

[2018-06-20 11:40] #24 closed, assigned to nobody

[2018-06-20 11:40] #51 closed, assigned to nobody

[2018-06-21 08:31] AMBudnik commented on #54
Hi @inputherf

can you share your example in a Stackblitz od JSFiddle?

[2018-06-21 09:52] Taxman972 opened #55 "Installation guide"
I can't install hansonTable for now even with the installation [guide](https://github.com/handsontable/vue-handsontable-official/wiki/Installation-with-Handsontable-CE).

So I have few question :

* Shouldn't vue be loaded first ?
* Why there is no `Vue.use` command ?

Maybe like this :
<pre>
import Vue from 'vue';
import HotTable from '@handsontable/vue';
Vue.use(HotTable);
</pre>

[2018-06-21 10:11] AMBudnik commented on #55
You can use CLI and create an app automatically (check the command on the bottom of https://cli.vuejs.org/) and then proceed with the steps that are written in our Guide.
After you create an app using the command `create`

you should get something like this

![image](https://user-images.githubusercontent.com/10757813/41712918-0d124dba-754c-11e8-8dd1-634f2dea79e6.png)

[2018-06-21 11:02] Taxman972 commented on #55
I'm trying to use HandsonTable inside an application created with Laravel/vueJS all others plugins used so far are working with
<pre>
import YourPlugin from 'path/your-plugin';
Vue.use(YourPlugin);
</pre>
And inside the Laravel view I can use the plugin
<pre>
<\your-plugin><\/your-plugin\>
</pre>

Why this plugin is different ? And how to use it in this configuration ?

[2018-06-21 11:50] AMBudnik commented on #55
Hm... I see. I thought that you're just starting a project. We'd need to check that. Maybe we're missing some settings in the wrapper.

[2018-06-21 11:55] AMBudnik commented on #52
Hi

here's https://github.com/handsontable/vue-handsontable-official/issues/27 a topic with demos for custom renderers

[2018-06-21 12:03] wojciechczerniak commented on #55
Handsontable for Vue is not a plugin. It's a component.

The Vue.js documentation is very specific when `Vue.use()` should be used and Handsontable for Vue doesn't do a single thing from [that list](https://vuejs.org/v2/guide/plugins.html).

To use component in Vue you need to import and register it within component that will use it. Just like the Vue docs say: https://vuejs.org/v2/guide/component

[2018-06-21 19:07] mekhami commented on #27
@swistach in the example provided iny our codepen, how would you go about registering multiple different renderers? i have many different custom renderers in my application. Would you just cobble all of these together into one custom renderer?

[2018-06-22 06:07] Taxman972 commented on #55
More code as asked:

**1st try - using it in the view | Console error : ReferenceError: HotTable is not defined on line 263**

*main.blade.php*
<pre>
&lt;div id="main"&gt;
...
    &lt;div id="hot-preview"&gt;
        &lt;HotTable :settings="hotSettings"&gt;&lt;/HotTable&gt;
    &lt;/div&gt;
...
&lt;/div&gt;
<script>
const vm = new Vue({
    el: '#main',
    components: {
        HotTable // Line 2

[2018-06-22 06:12] qq986063761 opened #57 "vue-cli2.9.3打包报错 模块内部找不到自己的依赖 '~handsontable/dist/handsontable.full.css‘"
在2.9.3脚手架下，通过 npm install vue-handsontable-official 安装的1.0.0 版本打包编译时，报错

in ./node_modules/_vue-handsontable-official@1.0.0@vue-handsontable-official/src/HotTable.vue
Module build failed: Error: Failed to find '~handsontable/dist/handsontable.full.css'

可能因为打包配置问题，这个问题我可以通过什么办法修改打包配置解决呢？是不是vue-cli某个依赖模块版本出了问题；

[2018-06-22 07:19] wojciechczerniak commented on #55
You're missing the `import`, that's why HotTable is not defined.
[code]

[2018-06-22 08:19] jansiegel commented on #57
@qq986063761 Have you tried using `@handsontable/vue` instead of `vue-handsontable-official`?
The `vue-handsontable-official` package is now outdated, and will soon be labeled as deprecated.

[2018-06-22 09:27] inputherf commented on #54
@AMBudnik thanks , I have solved the problem.(#^.^#)

[2018-06-22 09:28] #54 closed, assigned to nobody

[2018-06-22 09:30] inputherf commented on #57
这个简单，就是这个文件自己的问题，它默认找的依赖的地址有问题。
![image](https://user-images.githubusercontent.com/28945810/41769457-e7354b78-7641-11e8-9216-9e269f440962.png)
最后提醒一下，如果部署到服务器的时候，还要在服务器改地址链接！

[2018-06-22 09:38] AMBudnik commented on #54
Great! Thanks for an update

[2018-06-22 10:10] mrpiotr-dev commented on #27
Hi @mekhami,
`renderer` is a single function, so you have to register them one at a time.
[code]

You can also extends them like here: https://codepen.io/anon/pen/VdxBzW

[2018-06-22 10:12] mrpiotr-dev commented on #52
Duplicate of #27

[2018-06-22 10:12] #52 closed, assigned to nobody

[2018-06-22 10:20] mrpiotr-dev commented on #35
It should work in Handsontable v4+. If you find a similar problem with languages/formatting in our wrapper, then feel free to reopen this issue.

[2018-06-22 10:20] #35 closed, assigned to nobody

[2018-06-22 10:58] jansiegel commented on #57
If I understand correctly, there's a problem with the `.css` file location, which should no longer be a problem in the new version (`@handsontable/vue`), as the `css` files are no longer a part of the package, which means you'll need to import them separately.

[2018-06-23 16:21] sunpc opened #58 "manualRowMove not changing the data"
Hello,
I'm using the latest vue version, and found an issue that the data is not being changed after manual moved
the data from the handsontable.

The HotTable is defined as below:
`<HotTable :root="root" :settings="hotSettings"></HotTable>`

In hotSettings, I've put manualRowMove: true inside:
`this.hotLayoutSettings = {
          data: this.data,
          rowHeaders: true,
          colHeaders:

[2018-06-23 16:24] sunpc opened #59 "manualRowMove not changing the data"
Hello,
I'm using the latest vue version (2.0.0) with handsontable CE 4.0.0, and found an issue that the data is not being changed after manual moved the data from the handsontable.

The HotTable is defined as below:
`<HotTable :root="root" :settings="hotSettings"></HotTable>`

In hotSettings, I've put manualRowMove: true inside:
`this.hotLayoutSettings = {
          data: this.data,
          rowH

[2018-06-23 16:26] #58 closed, assigned to nobody

[2018-06-23 16:26] sunpc commented on #58
Sorry for duplication.

[2018-06-25 07:57] Taxman972 commented on #55
I finally found the problem, it's impossible to import camelCase component. That strange but at least this code works :

<pre>
&lt;script&gt;
    import handsontable from '@handsontable/vue';
    export default {
        data() {
            return {
                ...
                hotSettings: {
                    data: [['sample', 'data']],
                    colHeaders: true

[2018-06-25 07:57] #55 closed, assigned to nobody

[2018-06-25 08:20] AMBudnik commented on #59
Hi @sunpc

please put up an example and step by step scenario

[2018-06-28 09:28] superpig opened #63 "contextMenu callback not fire"
here is `contextMenu` config, when i click the menu item, whick does not trigger the callback
[code]

[2018-06-28 09:52] AMBudnik commented on #63
Hi @superpig

try this

[code]

you need to define an `items` object.

[2018-06-28 10:17] superpig commented on #63
@AMBudnik it does not work for me,  my version is "vue-handsontable-official": "^1.1.0" and  "handsontable": "^0.35.1"

[2018-06-29 11:32] wojciechczerniak commented on #63
@superpig Please check if you have same issue with the latest versions of Handsontable and Vue wrapper. This issue could have been already solved.

[2018-06-29 12:49] #57 closed, assigned to nobody

[2018-06-29 13:13] wojciechczerniak opened #64 "Few tasks we need to address"
Following the React wrapper success we can use some of those ideas for Vue wrapper too.

- [x] Set `vue-handsontable-official` npm package as deprecated (check angular-handsontable for Readme.md and deprecation message templates).
- [x] `Dist` should have UMD, CommonJS and ES files. We can use Rollup as we did with React wrapper.
- [x] Add Issue template
- [x] Add Pull Request template
- [x] Add m

[2018-07-10 09:23] jansiegel opened #65 "Make a workaround for the `cssstyle` package."
Currently, one of the `devDependencies` is my fork of the `cssstyle` package. (More information here: https://github.com/jsakas/CSSStyleDeclaration/issues/63).
This is not an optimal solution, plus it breaks `npm audit`, as it's not published to npm.

The new approach overwrites the `Number` prototype by adding `toLowerCase` and `split` methods for the tests, as they break on them specifically.

[2018-07-11 08:55] #63 closed, assigned to nobody

[2018-07-13 07:59] stanleyxu2005 commented on #27
I ran into the same problem and realized, that I tried to set type='CustomTypeRenderer', this will never work.

Here is the correct way:
[code]

In the Hottable config, you can specify `type='custom-type'` for column then. If you just want to change a renderer, then `renderer='CustomTypeRenderer'`.

[2018-07-13 13:15] wojciechczerniak commented on #65
Fix for CSSStyleDeclaration in https://github.com/jsakas/CSSStyleDeclaration/pull/52 was merged and released as 1.0.0: https://github.com/jsakas/CSSStyleDeclaration/releases/tag/v1.0.0

@jansiegel Maybe we should revert this workaround? :broken_heart:

[2018-07-21 13:28] k3341095 opened #67 "wordWrap: false not working"
columns: [
                    {title: 'address', data: 'raddress', wordWrap: false},
]
The nowrap feature does not seem to work.
But

                autoWrapCol: true,
                autoWrapRow: true,
                currentRowClassName: 'currentRow',
                wordWrap: false,

The main option works well.

vue-handsontable : 2.0
handsontable: 5.0

I'm sorry I'm not good at English.

[2018-07-21 13:32] k3341095 opened #68 "row rendering issue"
vue-handsontable : 2.0
handsontable: 5.0

i have 72 row data
small size web browser window rendered only 30 row
full screen web browser rendered 72 row

Why are you doing this?
Can not all rows be rendered in a small window?

And then .. scrolling .. when I click row

The first header follows.
Is there an option to turn off followers?

[2018-07-21 14:02] k3341095 commented on #68
table height or renderAllRows: true,

solved

[2018-07-21 14:02] #68 closed, assigned to nobody

[2018-07-23 06:16] gbih opened #69 "documentation for database query in Vue"
I've poured over the handsontable documentation, for both community and pro versions, searching for  examples of how to fetch data from a database in Vue. Unfortunately, there is very little information out there. Can you point out any online examples, if they exist?

The ideal would be Vue + Axios.

[2018-07-23 07:26] Geminii opened #70 "NuxtJs - Navigator is not defined"
Hi everybody,

We are using handsontable-pro version through the library `@handsontable-pro/vue`.
I defined my plugin and load it at ssr false but i got this error :
`navigator is not defined` in the function `setBrowserMeta()` of node_modules/handsontable/commonjs/helpers/browser.js

My plugin file looks like :
[code]

Thanks a lot for your help.
Best regards,

[2018-07-23 10:11] AMBudnik commented on #69
Hi @gbih

not sure if you'll find this one helpful https://docs.handsontable.com/pro/5.0.0/tutorial-load-and-save.html but it's an only example for database connection that we have

[2018-07-24 07:08] AMBudnik commented on #70
Hi @Geminii

do you not import the template?
In my case it's

`import SampleApp from './sampleApp.vue';`

[2018-07-24 07:24] Geminii commented on #70
Hi @AMBudnik

I try to create a component and include it in my page but same error.

I import handson from : `npm install handsontable-pro @handsontable-pro/vue`. All dependencies are ok (handsontable, handsontable pro, handsontable pro vue).
I create a file plugins to use handson table.

My app.vue looks like :
[code]

In my `nuxt.config.js`, i have include my plugin file in ssr: false. But not w

[2018-07-24 11:39] AMBudnik commented on #70
Sorry for misunderstanding.

Can you try to change

[code]

in the `app.vue`
instead of `import HotTable from '~/plugins/handsontable';`

and then go with

[code]

in the `nuxt.config.js` file

[2018-07-24 12:59] Geminii commented on #70
OK i finally did it among to you :)

If someone is interresting to include handsontable into NuxtJs :

`nuxt.config.js` file :
[code]

`vue-handsontable.js` file :
[code]

`app.vue` file :
[code]

And job is done :)
Thanks a lot again @AMBudnik for your quickly help !

Have a good day.
Regards,

[2018-07-24 12:59] #70 closed, assigned to nobody

[2018-07-24 13:08] AMBudnik commented on #70
Great! Thanks for an update :)

[2018-07-26 07:23] AMBudnik commented on #67
Hi @k3341095

I've tested it on this example https://codepen.io/anon/pen/KBvXVy and it seems to work fine on Chrome. If you change the `wordWrap` to `false` it shows the whole cell content and makes the second line.

[2018-07-31 07:45] alisanguo opened #71 "how to get the mergeCells data in v5.0.0"
how to get the mergeCells data in v5.0.0? it seems that mergedCellInfoCollection has been removed

[2018-07-31 09:56] contrarianaupong opened #72 "Unable to get source data in type: autocomplete"
In the settings, the  **source: this.getTestOption()**, got undefined.
Is it possible to get the array in the local data / computed data?

settings: {
        columns: [
          {
            type: "autocomplete",
            source: this.getTestOption(),
            strict: true,
            allowInvalid: false
          },

        ],
}

[2018-07-31 10:31] contrarianaupong commented on #72
Or I need to write a custom renderer for this case?

[2018-08-02 08:53] huangdaodai opened #73 "Is there a way to create a custom editor with 'vue component'?"

[2018-08-06 20:50] rafaph commented on #72
I'm having the same issue, looks like custom renderer is the way.

[2018-08-13 02:36] WGL878420 commented on #71
同问  我想在要动态合并不是静态的要如何写？

[2018-08-14 06:53] AMBudnik commented on #71
Hi @alisanguo @WGL878420
we do not have any official API for that but you can use the `afterMergeCells` callback to get predefined and new merged areas of cells.
Here is an example http://jsfiddle.net/sczypvb4/

[2018-08-14 08:00] mrpiotr-dev commented on #73
Hi @huangdaodai,
Here you can find a simple example: http://jsfiddle.net/k5cqjz8t/

[2018-08-14 08:00] #73 closed, assigned to nobody

[2018-08-14 12:55] alisanguo commented on #71
we can use "hotTable.getPlugin('mergeCells').mergedCellsCollection.mergeCells" to the mergeCells data

[2018-08-21 08:09] AMBudnik commented on #37
Please track progress to https://github.com/handsontable/handsontable/issues/3618
We close tickets that are duplicates.

[2018-08-21 08:09] #37 closed, assigned to nobody

[2018-08-21 08:10] AMBudnik commented on #38
Please track progress to https://github.com/handsontable/vue-handsontable-official/issues/50
We close tickets that are duplicates.

[2018-08-21 08:10] #38 closed, assigned to nobody

[2018-08-21 08:10] AMBudnik commented on #39
I believe that we can close the issue as there are no news since May

[2018-08-21 08:10] #39 closed, assigned to nobody

[2018-08-21 08:11] AMBudnik commented on #59
I am closing the issue as there's no feedback from the Author

[2018-08-21 08:11] #67 closed, assigned to nobody

[2018-08-21 08:11] #69 closed, assigned to nobody

[2018-08-21 08:11] #71 closed, assigned to nobody

[2018-08-21 10:12] wojciechczerniak commented on #72
We can't help without an example. Can you create simple JSFiddle that replicates the issue?

[2018-08-21 11:23] aalsiuser commented on #50
Hi,

Can i know when this Bug is gonna be resolved?
I have an urgent need to do Handsontable table validation through array of objects........Thank you in advance.

[2018-08-22 07:01] AMBudnik commented on #50
Hi @aalsiuser this issue is a part of an Epic issue https://github.com/handsontable/vue-handsontable-official/issues/64 planned for September. I hope that we will be able o fix them all but I can't make any promises.

[2018-08-22 07:36] jansiegel opened #74 "Rewrite the wrapper to typescript + add Rollup bundling config."
Let's use Rollup instead of Webpack + rewrite the wrapper to typescript, analogously to `@handsontable/react`.

[2018-08-22 09:09] richardkeep commented on #22
Am faced with the same challenge. Did you manage to solve this issue?

[2018-08-23 03:10] zxc23 opened #75 "Suggestion: Vue specific documentation on how to access plugins etc"
I had a bit of a hard time accessing plugins because the existing documentation was all for React, as far as I could tell. I eventually got it to work like this:

[code]

and so on, from within the component, with ref="hot" in the hot-table element attributes.

[2018-09-07 03:49] k3341095 opened #76 "only handsontable/vue performance issue"
I used to be handsontable and I was well.
I am using handsontable / vue in nuxtjs after the project has been changed to vue.

Existing handsontable used jquery and was very fast. 3000 row over
But the handsontable / vue is very slow.

For example, when you click the checkbox, you can click on it quickly.
Chrome shows a warning.
[Violation] Forced reflow while executing JavaScript took 89ms
[Violat

[2018-09-07 06:15] k3341095 commented on #76
I tested it in the vue.js environment, not nuxt.
Slightly faster than nuxt.

[Violation] Forced reflow while executing JavaScript took 31ms
handsontable.js?4d38:2210 [Violation] 'keydown' handler took 201ms
[Violation] Forced reflow while executing JavaScript took 32ms
handsontable.js?4d38:2210 [Violation] 'keydown' handler took 162ms
[Violation] Forced reflow while executing JavaScript took 31ms

[2018-09-07 11:42] jansiegel commented on #76
@k3341095, this might be connected to #50. Currently, if you're using an array of objects as your dataset, the wrapper calls the Handsontable's `updateSettings` method every time a cell value is changed, which can be really heavy on performance.
After #50 is fixed (it should be done in the upcoming release), the situation might get better.

[2018-09-08 11:00] k3341095 commented on #76
I hope it was the same problem.
I am pleased to be included in this release.

I hope to see the next release soon.
Thank you.

[2018-09-11 17:29] k3341095 commented on #76
Something strange happened.
The slow phenomenon of nuxt.js has been resolved.

nuxt.js asyncData has been changed.

Mounted.

When you import data into asyncData, it is included in html innerhtml.

However, if you change the data property using the mounted or method, it will not be included in .. html.

Could it be related to this ... It is very fast now. same jquery

[2018-09-14 10:23] jansiegel commented on #25
The wrapper is in the process of being rewritten to Typescript (#74), so I think this issue should be resolved soon.

[2018-09-14 10:24] jansiegel commented on #50
Developed in #74

[2018-09-14 10:25] jansiegel commented on #20
Should be fixed in #74

[2018-09-14 10:25] #65 closed, assigned to jansiegel

[2018-09-20 08:54] jansiegel opened #78 "Problem with updating data on the 3.0.0 release candidate."
Using the current `develop` build:

1. Go to https://jsfiddle.net/js_ziggle/6zafyopd/
2. Using the context menu on the `F3` cell:
   * Insert row above
   * Insert row below
   * Insert column on the left

**Result:** The newly created row on the bottom disappears.

It's probably a similar problem to #50, where the watcher for the `data` property was triggered after the data being changed by the u

[2018-09-25 07:06] wojciechczerniak opened #81 "Add more examples to the documentation"
We should improve our documentation by adding most requested examples:

- [x] Custom Context Menu
- [x] Custom Editor #73
- [x] Custom Renderer #27
- [x] Accessing Handsontable instance #75

[2018-09-25 08:32] #50 closed, assigned to jansiegel

[2018-09-25 08:52] jansiegel commented on #81
All of these are now online at:
* http://docs.handsontable.com/pro/vue
* http://docs.handsontable.com/vue

[2018-09-25 08:52] #81 closed, assigned to jansiegel

[2018-09-25 08:52] #78 closed, assigned to jansiegel

[2018-09-25 08:54] jansiegel commented on #75
@zxc23 We just released `@handsontable/vue` `3.0.0` and updated the documentation.
It now contains an example on how to reference the Handsontable instance: https://docs.handsontable.com/pro/5.0.2/frameworks-wrapper-for-vue-hot-reference.html

[2018-09-25 08:55] #74 closed, assigned to jansiegel

[2018-09-25 08:55] #18 closed, assigned to jansiegel

[2018-09-25 08:56] jansiegel commented on #20
This should work fine in `@handsontable/vue` `3.0.0`.

[2018-09-25 08:56] #20 closed, assigned to jansiegel

[2018-09-25 08:56] #25 closed, assigned to jansiegel

[2018-09-25 08:57] #64 closed, assigned to jansiegel

[2018-09-25 08:58] jansiegel commented on #76
@k3341095, We just released version `3.0.0` of the wrapper. Could you check if it helps with your problem?

[2018-09-25 08:58] #75 closed, assigned to nobody

[2018-09-25 09:30] wojciechczerniak commented on #72
Please reopen with an example. You can use this JSFiddle as a starting point: https://jsfiddle.net/handsoncode/4owqzasd/

[2018-09-25 09:30] #72 closed, assigned to nobody

[2018-09-25 18:24] k3341095 commented on #76
Has the usage changed in nuxt.js?
I get an error.
[Vue warn]: Failed to mount component: template or render function not defined.

https://github.com/handsontable/vue-handsontable-official#installation
The examples on this site also get errors.

It will not work on existing projects.
and nuxt.js v2.0 out!!

nuxt.js + handsontable/vue 3.0  + example
render function or template not defined in compon

[2018-09-26 01:26] k3341095 commented on #76
nuxt.js 1.4.2 and 2.0 both

working well handsontable/vue 2.0
but 3.0 not working
[Vue warn]: Failed to mount component: template or render function not defined.

render function or template not defined in component: anonymous
solved no-ssr tag input~

[2018-09-27 07:52] wojciechczerniak commented on #76
Hi @k3341095,

I've replicated the error but turned out this Nuxt.js error is very generic. It's thrown if any JS error is encountered. There is an issue on Nuxt.js Github to cache previous error and display the original one. Sometimes I got the right one displayed. In my case it was missing `navigator` property, so I figured out that my SSR setup is wrong.

I've managed to run Handsontable in Nux

[2018-09-30 14:22] k3341095 commented on #76
I did not know how to do it.
Answer was very helpful.
The result of applying 3.0 .. works very well ... very fast
Thank you for your hard work.

[2018-09-30 14:22] #76 closed, assigned to nobody

[2018-10-01 09:59] wojciechczerniak opened #82 "Add wrapper version as a HotTable property"
### Description
An easy way to access current wrapper version would be helpful in debugging. Handsontable itself provides `version` property, wrappers should follow this scheme.

[code]

### Steps to reproduce
1. `import HotTable from "@handsontable/vue"`
2. Use `console.log(HotTable.version)`
3. No version is provided

### Demo
https://jsfiddle.net/f0km4j8L/

### Your environment
* Vue wrapper ve

[2018-10-04 11:44] johnson4932 opened #83 "How can I get the ht instance in 3.0"
Hello

In 2.0, I need to put a `ref` to my hot-table component, and use `this.$refs.myTable.table` to get ht instance. ref: https://codepen.io/swistach/pen/NMzmPa
[code]
[code]

In 3.0 , `this.$refs.myTable.table` is undefined. I use `$refs.myTable._data.hotInstance` to get instance now.

is it correct ?

Thanks !

[2018-10-04 11:54] jansiegel commented on #83
@johnson4932 In `3.0.0` the `table` property holding the reference to the Handsontable instance was renamed to `hotInstance`, so the proper way to address it in your case should be `this.$refs.myTable.hotInstance`. https://codepen.io/js-ziggle/pen/mzPGbW

Somehow it slipped through the cracks and never got mentioned in the release notes, thanks for pointing that out!

[2018-10-08 00:00] k3341095 opened #85 "handsontable 3.0 Performance issue"
### Description

### Steps to reproduce

1. nuxt.js + handsontable 3.0 + chrome 69
2. 700 records view
3. ctrl + a
  show chrome console :
[Violation] 'keydown' handler took 541ms
[Violation] Forced reflow while executing JavaScript took 479ms
4. scroll wheel down
[Violation] 'scroll' handler took 849ms
[Violation] Forced reflow while executing JavaScript took 762ms
[Violation] 'scroll' handler to

[2018-10-08 06:13] k3341095 commented on #85
I tried another test
error Project\boomr2\boomr-iview\node_modules\handsontable\dist\handsontable.js:2172
      if (window.addEventListener) {
        element.addEventListener(eventName, callbackProxy, false);   -> 2172
      } else {
        element.attachEvent('on' + eventName, callbackProxy);
      }

2172 break point

I manually changed the data value.
$vm.responseData.assign[4].checked = true

[2018-10-08 10:02] AMBudnik commented on #85
Hi @k3341095

what are the settings for Handsontable? Do you use `setDataAtCell` or `updateSettings` during any tested process?

[2018-10-08 11:07] k3341095 commented on #85
settings: {
                colHeaders: true,
                rowHeaders: true,
                columnSorting: true,
                manualColumnMove: true,
                manualColumnResize: true,
                autoWrapCol: false,
                autoWrapRow: false,
                sortIndicator: true,
                outsideClickDeselects: false,
                currentRowClassName: 'htCurren

[2018-10-08 12:00] AMBudnik commented on #85
The `renderAllRows: true,` forces the table to load on the initialization so it takes longer when the data loads but scrolling is faster. It works the same for [offset](https://docs.handsontable.com/pro/6.0.1/Options.html#viewportColumnRenderingOffset). You shouldn't need to call `renderAllRows` if you do not have any misaligning issues. The 800 rows and couple of column's should slow down if it i

[2018-10-08 12:42] k3341095 commented on #85
There is nothing wrong with jqeury + handsontable that I made.

Only slow on handsontable / vue.

[2018-10-08 15:45] k3341095 commented on #85
I tried it again

It seems to be related to height.

If you do not set the height of the div,
Setting the height on the div is pretty fast.

[2018-10-09 07:23] AMBudnik commented on #85
Thank you for checking that. When you set a height Handsontable knows how many rows it should print.

[2018-10-10 16:17] wangqiffm commented on #59
@AMBudnik
I also have same problem.

handsontable@6.0.1
handsontable/vue@3.0.0

demo:
https://jsfiddle.net/f1aqvch7/8/

use context menu "remove row" of handsontable to remove one row
the second table doesn't update itself

[2018-10-11 13:06] AMBudnik commented on #59
the case is a bit different but thank you for sharing. We will check that.

[2018-10-16 02:41] k3341095 opened #86 "How can I access the top tags? custome renderer"
### Description

### Steps to reproduce

1. custom render parentNode return null

{title: '배송상태', data: 'del_status', className: 'htCenter', readOnly: true, renderer: this.deliveryRender},

        deliveryRender (instance, td, row, col, prop, value, cellProperties) {
            Handsontable.renderers.TextRenderer.apply(this,arguments);

td
<td class=​"htCenter htDimmed htNoWrap">​주문등록​</td>​

td

[2018-10-16 07:42] AMBudnik commented on #86
Hi @k3341095

in [this simple renderer](https://jsfiddle.net/s1w7mvab/) I can the same element `td.parentNode` and I get `tr` element in return.

And here https://jsfiddle.net/tuyhwmo6/ I add a class to the `tr` element and log it to check if it has been added correctly.

ADDED:

Sorry, I haven't noticed that it should be a Vue version. In Vue we surely get a lot of `null` values, but we also get

[2018-10-16 08:27] #83 closed, assigned to nobody

[2018-10-16 08:52] k3341095 commented on #86
I am using nuxt.js.
plugin import vue handsontable, ssr: false

vue file
import Handsontable from 'handsontable'

and handsontable column setting
{title: '주문번호', data: 'od_no', readOnly: true, renderer:this.odNoRender},

and.. methods
        odNoRender (instance, td, row, col, prop, value, cellProperties) {
            Handsontable.renderers.TextRenderer.apply(this,arguments);
            if(this

[2018-10-16 09:01] k3341095 commented on #86
And I tried again.
https://codepen.io/anon/pen/yRpNje?editors=0010

        renderer: function (instance, td, row, col, prop, value, cellProperties) {
             Handsontable.renderers.TextRenderer.apply (this, arguments);
             debugger
             var parent = td;
             //parent.parentNode.className = 'myRow';
             console.log (parent.parentNode);
           if (parent.p

[2018-10-16 09:19] k3341095 commented on #86
Resolved.

I do not get it right from render.

Is the correct td value coming in?

             if (td.parentNode! == null) {
                 console.log (td.parentNode)
             }

I come out to do this ...
Thank you for your reply.

I would like to add a lot of examples for handsontalbe / vue.
It's too hard.

[2018-10-16 09:19] #86 closed, assigned to nobody

[2018-10-16 09:19] AMBudnik commented on #86
Do you get all the `null` values? I am asking because I get a dozen `null` values but after them, I get proper `tr` elements.

[2018-10-16 09:19] AMBudnik commented on #86
Oh OK. Thank you for an update.

[2018-10-16 12:28] #85 closed, assigned to nobody

[2018-10-19 15:33] k3341095 opened #88 "wtHolder height How do you fix it?"
### Description

### Steps to reproduce

1. one button ( data update button)
2. <h-table id="assign-table" ref="assignTable" :data="filteredAssignLists" :settings='settings' style="width:100%"></h-table>

handsontable not option height
Every time the button is pressed, data is taken from axios.
data is reset each time it is pressed.
However ... wtHolder height continues to increase.
Each click inc

[2018-10-22 10:50] AMBudnik commented on #88
Hi @k3341095

can you fill the example? It does not have any buttons.

[2018-10-24 11:08] wojciechczerniak opened #89 "We should change version lookup for Handsontable dependency"
### Description
https://github.com/handsontable/vue-handsontable-official/blob/490b39948a0b4231131658552c941e597cf305e0/src/ce/package.json#L39

Our dependency version doesn't say what we had in mind. The caret `^` locks locks version to `5.x.x`. What we wanted is `>=5.0.0` so all versions above `5.0.0` are also ~supported~ valid. Currently they **are supported** (you can install any version you w

[2018-10-30 09:02] mismith opened #90 "Fix up main/top level docs/examples"
### Description
The simple examples in the README and docs of this repo seem to be out of date?

### Steps to reproduce
1. Visit https://github.com/handsontable/vue-handsontable-official#getting-started
2. In the code snippet below, there are a few oddities, IMO:
- `import Vue from 'vue';` ... the `Vue` variable is never used
- in the styles, `#test-hot` is referenced, but it doesn't exist in this

[2018-10-30 09:09] mismith commented on #90
Also, the installation guide is out of date now for v3.0.0:

- https://github.com/handsontable/vue-handsontable-official/wiki/Installation-guide
-  https://github.com/handsontable/vue-handsontable-official/issues/8

[2018-10-30 09:17] mismith commented on #90
Also, is there some way I can show you a repro case using v3.0.0? I notice the existing JSFiddles/Codepens I've found reference rawgit URLs, but since build artifacts (namely `dist/`) aren't in the source tree anymore, how should I reference the transpiled/minified source files?

[2018-10-31 15:04] Guobacai opened #91 "Use vue component in the header loses all the event handlers"
### Description

Instead of rendering simple text in the header, I want to render a vue component. It can be done by returning the vueInstance.$el.outerHTML to "colHeaders". However, all the event handlers defined on that component are lost.
I would expect all those events should be kept.

### Steps to reproduce

1. Click the button outside of the table. It updates itself with click counts.
2. Cli

[2018-11-01 12:37] alexpettigrew1 opened #92 "back"
### Description

### Steps to reproduce

1.
2.
3.

### Demo

https://jsfiddle.net/handsoncode/4owqzasd/

### Your environment
* Vue wrapper version:
* Handsontable version:
* Browser Name and version:
* Operating System:

[2018-11-02 13:12] AMBudnik commented on #92
Hi @alexpettigrew1

can you share more details?

[2018-11-05 13:38] #92 closed, assigned to nobody

[2018-11-05 13:41] #88 closed, assigned to nobody

[2018-11-05 13:46] AMBudnik commented on #91
Hey @Guobacai

unfortunately, we do not support using external component inside the Handsontable table yet.

[2018-11-05 13:46] #91 closed, assigned to nobody

[2018-11-05 16:01] BBroerse commented on #23
Maybe this should be added to the code examples in the readme.

[2018-11-06 11:23] wojciechczerniak opened #93 "Upgrade Jest testing framework"
### Description

We need to upgrade Jest as we did for Handsontable

### Steps to reproduce

1. https://github.com/handsontable/handsontable/pull/5564
2.
3.

[2018-11-06 11:37] wojciechczerniak commented on #90
Thanks for reporting this @mismith

You can use jsdelivr to get current or older releases: https://www.jsdelivr.com/package/npm/@handsontable/vue

[2018-11-06 19:03] tdlovejoy opened #94 "Auto Fill Down should increment when a number"
### Description
I would like it if the autofill down would increment a number or if the end of the string is a number increment down.  for exmaple, 1,2,3,...  or ID1, ID2, ID3

### Steps to reproduce
1. Put 1 in the first row
2. Drag the Autofill down

### Your environment
* Vue wrapper version:  3.0
* Handsontable version: 6.0
* Browser Name and version: Chrome
* Operating System: Windows

[2018-11-09 09:26] wojciechczerniak opened #95 "Investigate why we get `undefined` from `getCell` method"
### Description

Investigate why we get `undefined` from `getCell` method. Should we fix Handsontable or the wrapper?

### Steps to reproduce

1. https://github.com/handsontable/handsontable/commit/b911bab7daa6d726bddba699fed82dc1b6a3b769

### Your environment
* Vue wrapper version: unknown
* Handsontable version: unknown
* Browser Name and version: unknown
* Operating System: unknown

[2018-11-09 12:07] AMBudnik commented on #94
Sorry, but Handsontable itself doesn't have this ability yet.

[2018-11-22 13:41] jansiegel commented on #95
This looks like an issue with Handsontable, not the wrapper.

I've opened an issue for this in the main repo: handsontable/handsontable#5608

[2018-11-22 13:43] #95 closed, assigned to jansiegel

[2018-12-03 14:50] #93 closed, assigned to jansiegel

[2018-12-03 14:51] #90 closed, assigned to jansiegel

[2018-12-03 14:51] #89 closed, assigned to jansiegel

[2018-12-03 14:51] #82 closed, assigned to jansiegel

[2018-12-04 15:33] wojciechczerniak opened #100 "Few more examples for our documentation"
### Description
We have those already planned for Angular and React. We should add them for Vue as well.

- [ ] Binding settings with an object
- [ ] Binding settings with an attributes
- [ ] Interacting with Handsontable in your app (ie. checkbox, button)

[2018-12-11 14:34] wojciechczerniak opened #101 "Add hot-column element"
⚠️ Work in progress

### Description

We need a component to declare columns inside `hot-table` element.

- [ ] Add `<hot-column>` component
  - [ ] Docs: Add an example with declared `<hot-column>`
  - [ ] Docs: Add an example with `<hot-column>` and `v-for` loop
- [ ] Support Vue components as `hot-renderer` or `hot-editor`
  - [ ] Docs: Add an example with `hot-renderer`
  - [ ] Docs: Add an ex

[2018-12-13 10:40] wojciechczerniak opened #102 "Add HotPlugin for Vue.plugin()"
### Description
An idea for Vue helper. We can use `Vue.plugin` to register all components with one liner. Blocked by: #101 (only makes sense with more then one component that we have currently).

### Implementation

[code]

### Usage example

[code]

Done! All `<hot-*>` components and `hot-*` directives are now available without further configuration.

[2018-12-13 11:04] wojciechczerniak opened #103 "Make `data` and `settings` immutable"
### Description
The way that Handsontable works with settings object is to mutate `data` array of arrays / array of objects. That's cool when you're using vanilla Handsontable but within frameworks like Vue props should be immutable and data / Vuex should be updated by the developer, by using our events / hooks.

The correct way would be to clone the `data`: `<hot-table :data="{{ cloneDeep(data) }

[2018-12-13 11:23] wojciechczerniak commented on #59
TLDR; In Vue properties passed to component should be binded only one way. Use events / hooks to alter your data.

----
`manualRowMove` does not change `data` object. In both cases `data` shouldn't be referenced anywhere in your code, it's for internal use by Handsontable. Some operations modify the `data` and some don't (they are kept as transactions).

To render table based on Handsontable `data

[2018-12-13 11:23] #59 closed, assigned to nobody

[2019-01-18 19:32] KWeaver87 commented on #70
I've ran across this same issue in my project, and following the advice given so far hasn't solved it yet.
For me, the navigator error only happens when I navigate my browser directly to the HOT page. If I go to another page and route into the HOT page, then it works fine.
Also want to note, adding the vendor prop to build gives a deprecation warning, since NuxtJs 2.0.0 uses Webpack 4.

My nuxt.co

[2019-01-22 09:26] baybal opened #104 "It is impossible to register cell types, renderers, editors and validators"
### Description

Handsontable vue should provide mechanism to register cell types, renderers, editors and validators.

As of now, it is impossible to do anything with the initial Handsontable object before it creates an instance.

[2019-01-22 11:40] wojciechczerniak commented on #104
It does. Have you checked the docs?

https://handsontable.com/docs/6.2.2/frameworks-wrapper-for-vue-custom-renderer-example.html
https://handsontable.com/docs/6.2.2/frameworks-wrapper-for-vue-custom-editor-example.html

[2019-01-22 21:01] baybal commented on #104
No,

Even if you do `Handsontable.cellTypes.registerCellType()` the `Handsontable` you have inside Vue, will not be able to pass the cell type to the constructor of the instance.

[2019-01-22 22:32] wojciechczerniak commented on #104
Ok. Then I'll need more info to reproduce the issue:

[code]

[2019-01-27 05:51] baybal commented on #104
I'll give you an example of code:

`import { HotTable } from '@handsontable/vue';
import { renderers, cellTypes } from 'handsontable';`

cellTypes.registerCellType(myCell);

let mycell =  {
		timeFormat: 'YYYY-MM-DD hh:mm:ss',
		renderer: timestampRenderer, // both timestampRenderer and TimestampEditor are working perfectly fine if used outside of  handsontable/vue
		editor: TimestampEditor,
}

[2019-01-27 16:40] wojciechczerniak commented on #104
The example is incomplete, `timestampRenderer` and `TimestampEditor` are missing. Can't replicate the issue, sorry.

I will reopen when we have more info.

[2019-01-27 16:40] #104 closed, assigned to nobody

[2019-02-04 10:47] wojciechczerniak commented on #102
We did not introduced directives in #101. This won't be needed.

[2019-02-04 10:47] #102 closed, assigned to nobody

[2019-02-04 10:50] wojciechczerniak commented on #103
What if `data` is a literal object or array? We don't have to clone it. The decision to clone or not is up to the user and varies on his use case scenario.

We should change this issue into proper documentation example.

[2019-02-05 11:43] wojciechczerniak opened #106 "Merge vue-handsontable packages into one"
### Description
We need to cleanup the split we have in the repository.

- [ ] Single `readme.md` instead of three
  - [ ] New readme: https://gist.github.com/krzysztofspilka/0628b84c5660f23efe6899d4111961b5
- [ ] Single `license.txt` file instead of three
- [ ] Single `package.json` file instead of three
- [ ] Change `contributing.md` title to Contributing to Handsontable for Vue
- [ ] Drop `hot-

[2019-02-05 12:24] AMBudnik commented on #70
Hey @KWeaver87

sorry for keeping you waiting.

I just got a reply from our CTO that

but if you could share the whole code it will be much easier to debug it.

[2019-02-06 18:40] KWeaver87 commented on #70
Thanks for the reply! I just pushed the code out to a new repo: https://github.com/KWeaver87/MappingFrontEnd
Apologies if things are messy or hard to follow, I'm still fairly new at development. This is just a side project for an internal tool at work, so I don't have much direct support from my co-workers.

[2019-02-06 18:44] dubiejuan opened #107 "How to use handsontable in a vue-single-proyect without using webpack(import/npm)"
### Description
How can i use handsontable in mi vue proyect with no web pack?
How can i register de component so its works?

https://jsfiddle.net/dubiejuan/53jgd9qx/36/

### Your environment
* Vue wrapper version:
* Handsontable version: Last
* Browser Name and version: google chrome
* Operating System:linux(ubuntu)

[2019-02-07 08:08] wojciechczerniak commented on #107
Load Handsontable and Vue wrapper, lets say from CDN:
[code]

Vue component is registered under `Handsotnable.vue.HotTable` namespace:
[code]

JSFiddle: https://jsfiddle.net/n6e27fda/

[2019-02-07 14:16] dubiejuan commented on #107
thanks for the help, the answer solve the problem

[2019-02-07 14:16] #107 closed, assigned to nobody

[2019-02-08 09:34] AMBudnik commented on #70
Hey @KWeaver87

I got an error after running the server

![zrzut ekranu 2019-02-8 o 10 32 52](https://user-images.githubusercontent.com/10757813/52469878-fce82980-2b8c-11e9-8893-bbca93ef3902.png)

can you write me at support@handsontabe.com?

[2019-02-13 12:06] wojciechczerniak opened #108 "Settings objects watcher"
### Description
Changing hotSettings attributes will result in an error: "Incorrect value of the columnsRenderCalculator" triggered by Vue watchers. Bug was tracked to:

https://github.com/handsontable/handsontable/blob/65dc03147e411df27e6c2699b93fdc7ade9bad67/src/core.js#L2905

That returns `undefined`, should have default value of `Infinity`.

Then `Math.min(undefined)` returns `NaN` instead the

[2019-02-18 14:31] wojciechczerniak opened #109 "Simplify JSFiddle used in new issue template"
### Description
We can simplify our JSFiddle demo for Vue

### Steps to reproduce

1. Current JSFiddle: https://jsfiddle.net/handsoncode/4owqzasd/
2. Unused prop `msg`, unnecessary nested in two `div` elements, unnecessary styles, have a non commercial license key (?)
3. New JSFiddle: https://jsfiddle.net/wrog94jm/

[2019-02-23 22:30] timwis opened #111 "Adding rows does not update vue instance data correctly"
### Description

Adding rows (for example by enabling `minSpareRows` and pressing enter on new rows does not update the data in the vue instance properly. I believe this is because Vue's reactivity system requires you use `Vue.set()` to add new rows to an array. [See details in vue docs here](https://vuejs.org/v2/guide/reactivity.html).

### Demo

https://jsfiddle.net/nqu0oa69/

1. Open the consol

[2019-02-26 09:00] AMBudnik commented on #111
Thank you for sharing the demo and description. I believe that this is a matter of reordering the operations. In the first step, the vueData does not see that we have an empty row as well.

[2019-02-28 01:09] hugobyrne commented on #108
Is there a fix or workaround for this?
Ive tried rolling back to version 2 in vue but it tells me I need this npm package which doesnt seem to exist
@types/handsontable__vue

[2019-02-28 03:49] darian314 commented on #108
Any update on when this is going to get fixed?

[2019-02-28 07:10] AMBudnik commented on #108
Hey @darian314 we've attached the March milestone, it means that we're planning to fix it in March and publish in April (or faster we get get it done).

[2019-02-28 07:56] wojciechczerniak commented on #108
@hugobyrne As a workaround it might work to use each option as a prop instead deeply nested settings object.

[2019-02-28 10:47] wojciechczerniak commented on #111
Hi @timwis

It was you who mentioned that Handsontable isn't flux-style ready, wasn't it? https://github.com/frictionlessdata/delimiter/commit/27fbb5dc8f4450a98202bbcef1f347ecee9b29f6 But we probably should. Changing the prop by reference is a bad idea, there's a `v-model` for that but it's more a syntactic sugar for prop and event.

With Vue.js you provide `settings` and `data` to HotTable compon

[2019-03-07 16:24] #106 closed, assigned to jansiegel

[2019-03-19 00:35] venkatperi commented on #70
This is what worked for me:

**plugins/vue-handsontable.ts**
[code]

**nuxt.config.js**
[code]

**Usage in blah.vue**
[code]

[2019-03-24 05:17] ghost opened #114 "How can I get source for dropdown cell from api data?"
### Description

I would like to set source for dropdown cell which comes from get api data.

I'm trying to use handsontable of cell type, but it didn't solve the problem.

I guess this problem happened because of life cycle method of Vue/cli because table collapse when I use function to set column.

In this case, how do I manage contents of source?

### Your environment
* Vue wrapper version: 3.1

[2019-03-25 09:47] AMBudnik commented on #114
Hey @astatsuya

you can try to use the `cells` method. Here's a demo that shows how to get into the instance https://codepen.io/anon/pen/rZzXbg?editors=0010 from an external function. Then you just use the `updateSettings` method like here

[code]

[2019-03-25 20:23] lunfel opened #115 "minSpareRows and minSpareCols breaks Handsontable rendering"
### Description

The minSpareRows and minSpareCols do not behave as it is supposed to. Handsontable will not render data past the values of minSpareRows and minSpareCols.

### Steps to reproduce

1. Setup a Vue Handsontable with data: [[]]
2. put minSpareRows: 6
3. put minSpareCols: 4
4. Then after component is loaded, setTimeout (imitate ajax behavior) to load data by doing hotSettings.data = myN

[2019-03-26 12:24] AMBudnik commented on #115
Hi @lunfel

I have replicated the same issue in the vanilla version. It looks like the `manualRowMove` blocks the number of rows with data and `manualColumnMove` does the same for columns.

Simplified vanilla demo https://jsfiddle.net/apkfhs9e/

[2019-03-27 00:53] tatsuya-asami commented on #114
Hi @AMBudnik
Thank you for your reply and giving me an example!
I will try to do your way and update my condition.

[2019-03-27 03:17] ghost commented on #114
Hi @AMBudnik
Thank you for your reply and giving me an example!
I will try to do your way and update my condition.

[2019-03-28 08:13] ghost commented on #114
I solved my problem. Thank you so much!

[code]

[2019-03-28 08:26] AMBudnik commented on #114
Great to hear that @astatsuya  :)

[2019-03-28 08:39] ghost opened #116 "How do I bind my table data with vuex data consistently?"
### Description

I would like to set my table data to my Vuex state array.
My data flow is below.

1. Getting data from api.
2. Setting data to vuex state that is array of object.
[code]
3. Setting getApiData to handsontable.
[code]
4. columns in hotSettings is like this.
[code]

When I edited handsonTable cells which have initial getApiData, I could edit them.
However, when I add new lines and ed

[2019-03-31 12:19] tatsuya-asami commented on #116
I couldn't this, but solved it to do another way.
I use getSourceData() and mutate that data as I want to use.
Thanks.

[2019-04-01 08:59] AMBudnik commented on #116
Have you tried to use our example https://handsontable.com/docs/7.0.0/frameworks-wrapper-for-vue-vuex-example.html?

[2019-04-01 13:23] lightning0016 opened #117 "language not worked"
### Description

Handsontable.languages.getLanguagesDictionaries can found zh-Cn,but when set hot-table language="zh-CN"
console print error:
`Language with code "zh-CN" was not found. You should register particular language before using it`

### Steps to reproduce

1.use    import 'handsontable/languages/zh-CN';
2.set language='zh-CN'
3.i try other language the same happened,

### Demo

https://j

[2019-04-02 07:21] AMBudnik commented on #117
Hey @lightning0016

you should add the language pack script. I've added it here https://jsfiddle.net/4xh7n5ou/

[2019-04-03 01:03] tatsuya-asami commented on #116
Yes, I tried it, but the problem was it didn't work when I got data from api.
So, I gave up to update getApiData consistently and got data on handsontable by getSourceData.

[2019-04-03 13:19] AMBudnik commented on #116
Thank you for the update. I will ask our developer to investigate this case.

[2019-04-03 13:21] AMBudnik commented on #116
Can you share your code @astatsuya ?

[2019-04-04 00:55] ghost commented on #116
Yes, I tried it, but the problem was it didn't work when I got data from api.
So, I gave up to update getApiData consistently and got data on handsontable by getSourceData.

[2019-04-04 02:14] astatsuya commented on #116
I could not share actual code here, so I created similar code of my actual product.
When I write something in new Row, testTableData wasn't updated.

[code]

hotTable.vue
[code]

[2019-04-04 11:23] AMBudnik commented on #116
@astatsuya it would be possible for you to pass it within a demo (Codepen/JSFiddle/StackBlitz)?

[2019-04-12 08:53] #114 closed, assigned to nobody

[2019-04-15 09:00] AMBudnik commented on #116
I believe that this may be already fixed as there's no response for more than 10 days so I'm closing the topic.

[2019-04-15 09:00] #116 closed, assigned to pnowak

[2019-04-23 21:27] MCMatters commented on #116
Hi @astatsuya
I think I got the same problem. The solution for me was using property `dataSchema`.
https://handsontable.com/docs/6.2.2/Options.html#dataSchema

[2019-05-02 00:06] morgenweck commented on #108
This is now May-- is it fixed?

[2019-05-02 16:14] davestewart opened #118 "Setting the license key globally"
Is there a way to set the license key globally?

[2019-05-03 16:20] aclark09 opened #119 "Cannot access hotInstance from cells function"
### Description
When I try to add a cells function for conditional formatting, the handsontable instance is undefined. I was expecting to be able to access the instance from within this function so that I could check the value of a cell and use a different renderer based on that value. I was following this tutorial and attempting to recreate it with the vue wrapper: https://handsontable.com/docs/7

[2019-05-05 23:29] luosijie opened #120 "Data changed not updating the view immediately?"
I tried to modify data like this
`
this.data[0][1] = 99999
`
but nothing changed on the view

[2019-05-06 03:30] #120 closed, assigned to nobody

[2019-05-06 07:58] wojciechczerniak commented on #118
No, sorry. Might by a good feature request for https://github.com/handsontable/handsontable

Maybe you can have a shared config object and extend it when needed?

shared.js
[code]

app.js
[code]

[2019-05-06 08:30] davestewart commented on #118
OK, thanks :)

[2019-05-06 08:30] #118 closed, assigned to nobody

[2019-05-06 08:33] wojciechczerniak commented on #119
True. Handsontable instance will be set after the table is initialized, when `new Handsontable()` is finished. We can probably improve this if we switch to `new Handsontable.Core()` and `this.hotInstance.init()` inside the wrapper.

Like we did for `@handsontable/angular` recently: https://github.com/handsontable/angular-handsontable/pull/152/files#diff-e2d583e49d3e68f25b1b0818ad3ce755R334

For no

[2019-05-06 08:39] wojciechczerniak commented on #108
@morgenweck Not yet. Sorry, we were blocked longer then we expected. The bug is now resheduled to May and we're back on track to fix it.

[2019-05-14 11:37] davestewart commented on #111
Hi there,

I've just come across the same issue:

- https://forum.handsontable.com/t/vue-source-data-does-not-seem-to-be-referenced/3248

I see there is ongoing discussion around this.

My opinion on this is that there is nothing wrong with the table updating the data by reference – in fact it makes it a lot easier. What would be useful would be a Vue `@event` to know that this has happened (I don

[2019-05-15 13:35] wojciechczerniak commented on #111
Hello @davestewart,

I guess that the discussion has died. Looks like anyone wants to clone the data they can. JS developer is aware how references work in JS and doing it every time would hit the performance so we should leave it like that. Handsontable keeps a lot of meta data next to `data` so relying on this array does not give you all the necessary output.

You should use our API to retrive w

[2019-05-15 16:11] davestewart commented on #100
Hello :)

I'd also suggest separating the Guide and API.

The guide would benefit from this, as you could provide a bit more structure.

The API would benefit as you could add functionality to make it more context-relevant – for example, some of the members are free-floating, not under their parent member.

[2019-05-16 12:32] davestewart commented on #111
Ah, function props, OK, I'll plug that in, thanks.

[2019-05-16 16:42] davestewart commented on #111
I also found that resetting the data using the `Vue.set()` technique as mentioned by @timwis kills the table's undo stack.

I tested this in JS Fiddle and my guess is that it is using `hot.loadData()` which seems to have the same result.

So I guess, as you say, once data has gone into the table, just use the API.

This being the case, I'm wondering how much value there is to wrapping this for vue

[2019-05-16 19:21] YUND4 commented on #70
Atry it this solution but hi have this error

ailed to compile with 1 errors                                                                                    friendly-errors 14:20:48

This dependency was not found:                                                                                             friendly-errors 14:20:48

[2019-05-22 20:28] avanlaningham commented on #30
I am running hansontable 4.0 and I could not get this to work.  I found this article
https://handsontable.com/docs/7.0.3/frameworks-wrapper-for-vue-vuex-example.html
which inspried me to change the above examples from this.$refs.myTable.table
to this.$refs.myTable.hotInstance  which I could then run .render() on.

[2019-05-24 09:09] AMBudnik commented on #30
Hey @avanlaningham as this topic is a year old can I ask you to share a demo with your recent progress? If so, please send it at support@handsontable.com

[2019-06-01 01:58] tanthammar commented on #30
@avanlaningham
Confirmed.
This works:
[code]

[2019-06-03 10:00] AMBudnik commented on #30
Thank for you confirming @tanthammar

[2019-06-04 01:50] Even-Lau commented on #63
"handsontable": "^7.0.2", applied to my vuejs application. Can not work too.

[2019-06-04 02:37] Even-Lau commented on #63
I just figured out that it is a css trick. The value of z-index is not big enough.
`.htContextMenu:not(.htGhostTable) {
    display: none;
    position: absolute;
    z-index: 1060;
}`

[2019-06-10 22:02] bigtunacan opened #121 "How to use placeholders?"
### Description
Trying to add placeholders to cells in a row, but I'm only able to add the same placeholder text to every cell.

### Steps to reproduce
1. Add placeholder text as an array like: `placeholder: ['foo', 'bar', 'baz', 'etc']`
2. Expect placeholders to match up with columns

| col1 | col2 | col3 | col4 |
| foo  | bar   | baz  | etc   |

instead get

| col1                       | col2

[2019-06-11 08:30] AMBudnik commented on #121
Hey @bigtunacan

`placeholder` can be only a string (not an array). Here's an example https://codepen.io/anon/pen/jjOaBx?editors=0010

[2019-06-11 15:17] bigtunacan commented on #121
I would say then that this is a feature request.  I'm honestly not sure what value it is to have placeholder as a string. I believe it is much more useful to have an array of strings so different columns can have unique placeholders.  In the event someone wants the same placeholder for all columns this would still allow for that.

[2019-06-11 16:48] wojciechczerniak commented on #121
You can use it as a `column` prop: https://codepen.io/anon/pen/NZPKEb?editors=0010

[2019-06-11 18:32] bigtunacan commented on #121
@wojciechczerniak Thank you.

[2019-06-11 18:32] #121 closed, assigned to nobody

[2019-06-18 03:11] Even-Lau opened #122 "Referencing the Handsontable instance hot in hot"
### Description
Hello,

I'm using `"@handsontable/vue": "^4.0.0"`.
In the `Handsontable cell editor`, I need to call `afterScrollVertically` function to load more data from the server.
Meanwhile, I need to reference the `Handsontable as a cell editor in Handsontable` or reference the `Vue` instance.

Is there any way to do that?

### Steps to reproduce

[code]
[code]

### Demo

https://jsfiddle.ne

[2019-06-18 05:00] dheeraj-wirecard commented on #22
Hi ,
It's clearly mentioned in the documentation.
<hot-table ref="hotTableComponent"></hot-table>

use refs to get the handsontable instance.
this.$refs.hotTableComponent.hotInstance.loadData(newdata);

[2019-06-18 08:07] AMBudnik commented on #122
Hey @Even-Lau

here's an example https://codepen.io/anon/pen/QVKBLZ?editors=1010 that refers to the instance - in your case, it is `this.$refs.hotTableComponent.table`

[2019-06-18 08:07] #117 closed, assigned to nobody

[2019-06-19 01:34] Even-Lau commented on #122
Hi, @AMBudnik

I mean I want to reference the handsontable that triggered by the  `Handsontable cell editor` or reference the vue instance in the `afterScrollVertically`  of it. Not the handsontable that shows up when the page initialize.

[2019-06-21 03:00] Even-Lau commented on #122
My problem not solved yet, tag it unsolved, please! @AMBudnik

[2019-06-24 06:02] Even-Lau commented on #122
Hi,@AMBudnik
My problem not solved yet. Looking forward to your reply

[2019-06-24 06:17] AMBudnik commented on #122
Hi @Even-Lau
if you have some urgent cases please send the messages directly to support@handsontable.com

As far as I understand it right we need to save vue instance first and then we can use it within the app.
In this case, we need to use vueInstance to get access to Vue instance.

The afterScrollVertically2 doesn't exist in handsontable, that it's why we CAN NOT reference the handsontable insta

[2019-06-25 00:53] Even-Lau commented on #122
Thanks a lot.

[2019-06-25 00:54] #122 closed, assigned to nobody

[2019-07-02 18:32] LucasMaes opened #123 "Vuex warning when commit mutation if data is array of objects"
### Description
I'm creating a Vue component with the Vue Wrapper of HoT and making use of Vuex for handling the state (based on the example of https://handsontable.com/docs/7.0.0/frameworks-wrapper-for-vue-vuex-example.html). When I enable the strict mode on the vuex (https://vuex.vuejs.org/guide/strict.html) and my data is an array of objects (and not an array of arrays like in the example), I g

[2019-07-03 09:46] AMBudnik commented on #123
You're right.

Once we turn on the `strict` mode we get the error https://jsfiddle.net/handsoncode/g24ztrjw/

I will leave it for investigation.

[2019-07-03 11:01] wojciechczerniak commented on #123
`this.$store.commit('updateData', this.hotRef.getSourceData());` commits to Vuex reference to inner Handsontable `data` property. So each time Handsontable tries to modify data internally the change is propagated to Vuex storage through reference.

You need to break the reference between those objects ie. by creating a deep copy.

[2019-07-03 12:18] LucasMaes commented on #123
Gotcha.

So it is basically a trade-off between the traceability of the mutations vs the performance hit of the deep copy.

[2019-07-12 04:26] rddewan opened #124 "How to perform a CURD operation?"
### Description
How to perform a CURD operation ?  I am using laravel 5.8

### Your environment
* Vue wrapper version:
* Handsontable version: 7.1.0
* Browser Name and version:
* Operating System:

[2019-07-15 09:07] AMBudnik commented on #124
Hey @rddewan

What operations did not work for you?

Here's an example with Vue and Handsontable https://jsfiddle.net/AMBudnik/qpLyhwo1/

[2019-07-15 09:33] rddewan commented on #124
Hi @AMBudnik
How can i perform a CURD operation through inline cell editing ?

[2019-07-15 09:46] AMBudnik commented on #124
Can you share more details about the requirements?
I've found a couple of scenarios for inline editing.

[2019-07-15 09:49] rddewan commented on #124
I am fetching the data from MySql Database and displaying it using handsontable in laravel vue . I would live to preform CURD operation directly using cell editing .

[2019-07-15 10:01] AMBudnik commented on #124
Handsontable by default is editable for all the cells by a dbclick and <kbd>ENTER</kbd> click. At the same time, it can only have one active opened editor.
If you wish to enable editing for a single row you'd need to create custom logic. If you need more help with that task I please share all the project requirements with me on support@handsontable.com

[2019-07-15 10:15] rddewan commented on #124
thanks after double clicking and update the cell value  how do i call the update method in vue
methods: {
     updateRecord() {
         axios.post (......)
     }
}

[2019-07-15 10:46] AMBudnik commented on #124
Saving data to the server can be made via AJAX call https://handsontable.com/docs/7.1.0/tutorial-load-and-save.html in the `afterChange` hook.

![Zrzut ekranu 2019-07-15 o 12 46 06](https://user-images.githubusercontent.com/10757813/61210981-87b1ef00-a6fe-11e9-9bf3-1d3db7db4ecf.png)

[2019-07-15 11:06] #123 closed, assigned to nobody

[2019-07-15 11:07] #111 closed, assigned to nobody

[2019-07-15 11:11] wojciechczerniak commented on #103
Added to #100 as an use case example. We cannot predict nor decide for the developer if the deepCopy is necessary for her use case. React/Vue official documentation does the same: explains why and show how to do it if needed.

[2019-07-15 11:11] #103 closed, assigned to nobody

[2019-07-15 13:37] rddewan commented on #124
thank you  i will check it out

[2019-07-18 11:54] #124 closed, assigned to nobody

[2019-07-22 12:52] jansiegel commented on #109
@wojciechczerniak, Is `width="600" height="300"` necessary? It creates an empty space between the table and the license information.

[2019-07-22 14:35] wojciechczerniak commented on #109
@jansiegel Without width and height we will attach event to window. Basic use case for Handsontable should have defined size. Maybe we can use our helper to generate more data? And IMO we should enable row/colHeaders.

The point is to remove unncecessary `div` element, and `msg` prop, usa function to return `data` and add `non-commercial` license.

[2019-07-30 05:55] AMBudnik commented on #119
Thank you for sharing your feedback @aclark09
we're glad to announce that it got fixed in v `4.1.0` released yesterday.

[2019-07-30 05:55] #119 closed, assigned to jansiegel

[2019-07-30 05:56] #109 closed, assigned to jansiegel

[2019-07-30 05:58] AMBudnik commented on #108
Hey @hugobyrne @darian314 @morgenweck
we just got it fixed yesterday in v `4.1.0`.

[2019-07-30 06:00] #108 closed, assigned to jansiegel

[2019-07-30 06:04] #101 closed, assigned to jansiegel

[2019-07-30 06:06] AMBudnik commented on #100
+1 for adding a new culture https://github.com/handsontable/docs/issues/62

[2019-07-30 15:15] aarondfrancis opened #129 "Register Vue Component as Renderer / Editor"
As far as I can tell from the docs, the only way to register a custom renderer or editor is to pass in a function or register it globally. Alternatively we can create `HotColumns` that serve as editors and renderers. What I would really like to do is register a vue component as a renderer or editor. Is that possible?

I see that internally, when `HotTable` sees a component is wraps it up to meet t

[2019-07-31 07:51] wojciechczerniak commented on #129
Unfortunately, no.

We've tried hard to expose `wrapComponent()` function to enable few more use cases.
[code]

Mentioned `registerRenderer`:

[code]

Standard settings object:

[code]

And `<hot-column>` settings:

[code]

But the code fragment you've already mentioned in the first line has a reference to `HotTable` instance:

https://github.com/handsontable/vue-handsontable-official/blob/6621371

[2019-07-31 14:24] aarondfrancis commented on #129
What an incredibly thorough response, thank you!

I clearly don't have the same grasp on the codebase as you so this may be naive, but would an optional third parameter to `getRedererWrapper` work? We're either allowed to pass in our our `LRUMap` or you use the one on the `$vm`.

[2019-08-01 11:22] wojciechczerniak commented on #129
That might work. But would require some shared interface for LRUMap. I think we should start with gathering use cases first. Why the current implementation isn't working for you?

[2019-08-01 14:42] aarondfrancis commented on #129
Sure, happy to elaborate.

I would like to have my template set up like this:

[code]

but since I can't declare a Vue component as a renderer, I end up having to do something like this:

[code]

You can see how quickly this explodes. With a couple of custom renderers and editors, it starts to get pretty messy and hard to reuse the functionality in a clean way. I suppose I could make my own `custo

[2019-08-02 08:44] wojciechczerniak commented on #129
Thanks! Feedback is always welcomed. This is a valid use case, I just don't have a solution yet.

Maybe `@handsontable/vue` could have its own global register. But again, we cache components per instance. So we would need to rewrite it a little bit to read it from instance. Problem is that renderer has Handsontable instance but not HotTable. Or does it? 🤔

For now, I wonder if that would work:

[c

[2019-08-02 09:00] wojciechczerniak commented on #129
Ok, I've got an idea.

We could read `HotTable` instance (and `rendererCache`) from Handsontable `instance`:
[code]

This way, wrapped component has no hardcoded `$vm` instance. It would be possible register it globally like in the first comment:
[code]
Handsontable then uses renderers as strings and handles the rest. I like that.

There are no additional arguments in the `wrapComponent` method. N

[2019-08-02 14:45] aarondfrancis commented on #129
Your last suggestion seems awesome to me. Of course I can't speak to

but should that prove workable, the solution seems great!

It's working just fine for now so think on it for a while, but this would be a nice improvement for me!

[2019-08-03 15:22] waltermaldonado opened #130 "Undo no longer works after setting backwards reactivity to data"
Since I need to add reactivity to the table data array, I had to implement the afterChange method as below:
[code]

And now my undo function no longer works. If I comment out the `Vue.set()` line it works normally, but I lose the reactivity to the table data when it changes.

I tried the workarounds discussed in #20 but had no success at all.

[2019-08-03 18:33] wojciechczerniak commented on #130
We will need more details:

[code]

[2019-08-04 17:36] waltermaldonado commented on #130
### Description
The undo (Ctrl+Z) should work after changing the content of cell but it does not.

### Steps to reproduce
Add this code to the afterChange() hook:
[code]
and try to undo after changing a cell.
### Demo
https://jsfiddle.net/of53c0L4/6/

### Your environment
* Vue version: ^2.6.10
* Vue wrapper version: ^4.0.0
* Handsontable version: ^7.1.0
* Browser Name and version: Chrome 76.0.380

[2019-08-05 09:13] Leskd commented on #70
@venkatperi Hi,  I follow your code.  But when I refresh the page, It's still has error info : navigator is not defined. Hope to get your help! thanks

[2019-08-06 09:42] wojciechczerniak commented on #130
Now I see. You're changing `this.data`, which will then reload data in Handsontable. This will create new undo stack because Handsontable was reloaded.

You shouldn't modify Handsontable internal data storage by reference. Clone the data and store it somewhere else.

[2019-08-06 10:18] waltermaldonado commented on #130
I don't know if I followed, but if you change the variable `data` to any other name the problem persists (See fiddle again). Also, if I do so how would I get reactivity from the table when some cell is changed?

[2019-08-06 12:01] wojciechczerniak commented on #130
Child components can't change props. If you need to pass an array or an object to a child component then you have to be very careful. Or create a copy. You get changes through events., in Handsontable called `hooks` and used as callbacks. Use our hooks to listen for changes and then update your state / variable.

[2019-08-06 12:17] waltermaldonado commented on #130
Fine. I tried to do that: created a `dataCopy` variable and then updated this variable upon changes in the table. The data is reactive, as expected, but the undo function does not work. It looks like calling `Vue.set()` in the hook triggers reloading in the table data, as you said, even in another variable.

See fiddle: https://jsfiddle.net/nbuxsg78/2/

[2019-08-06 13:15] wojciechczerniak commented on #130
First `afterChange` event is called `afterLoadData` without changes. In your code this throws an error and affects undo. Try this: https://jsfiddle.net/c4f18tow/1/

[2019-08-06 13:22] waltermaldonado commented on #130
Perfect! Thank you very much!

[2019-08-06 13:22] #130 closed, assigned to nobody

[2019-08-12 13:00] h8art commented on #129
Any ideas how to register custom component as editor for specified cell (cellProperties.editor)?

[2019-08-12 22:46] CBMasri opened #131 "Vue.set causing issues with table rendering in latest release (4.1.0)"
### Description
There seems to be an issue with the latest release (4.1.0) which is causing some unexpected behaviour when Vue.set is used to modify table values.

I have a common use-case where I mark modified cells as dirty by using the `beforeChange` hook to add an `htDirty` css class which highlights the changed cells. I also use the `afterChange` hook to add a new reactive property to the row

[2019-08-13 08:08] wojciechczerniak commented on #129
You can't. For the same reasons discussed above.

[2019-08-14 09:43] AMBudnik commented on #131
Hey @CBMasri

I've tested the demo on the same browser and system but nothing highlights.

Can you record it, please?

[2019-08-16 12:15] chao opened #132 "How to set TD className by using hotColumn?"
I tried to set TD classname by passing a class-name property from hot-column component.
But it doesn't work.

[code]

How can I set my custom-renderer cell TD classname?

[2019-08-16 14:53] wojciechczerniak commented on #132
With `cells` callback you can set `props.className` string: https://handsontable.com/docs/7.1.1/Options.html#cells

Those might work:
[code]

But I'm not sure, there were no such feature request yet. This works for `<hot-table>` element: https://handsontable.com/docs/7.1.1/frameworks-wrapper-for-vue-custom-id-class-style.html

[2019-08-17 03:02] chao commented on #132
Thanks for prompt response, I tried both `cells` function and set class property on `hot-renderer` way, but none of them works.

I also tried to change the TD class in my custom renderer.

<img width="509" alt="Screen Shot 2019-08-17 at 10 57 25 AM" src="https://user-images.githubusercontent.com/55872/63205896-e8f22700-c0dd-11e9-9ca2-2aef97abc8b0.png">

The class name only exists for about one sec

[2019-08-19 09:08] AMBudnik commented on #132
Hey @chao

Can you place the code in the [CodePen](https://codepen.io/anon/pen/QVKBLZ?editors=1010) or [JSFiddle](https://jsfiddle.net/handsoncode/g24ztrjw/). I'd like to test it.

[2019-08-20 02:07] CBMasri commented on #131
Well the issue is that the highlighting **doesn't** occur with v4.1.0, so that _is_ the expected behaviour. Here's a fiddle which is forked from the first but is using vue-handsontable v4.0.0 instead, it shows how the highlighting should work:

https://jsfiddle.net/ouL25nr9/1/

[2019-08-20 08:57] chao commented on #132
Here is the example code in the [JSFiddle](https://jsfiddle.net/czhou/tv3opcg7/18/), the code regenerate the data in hot table in every 5 seconds. When the hot renderer components was rendered at the first time the class name was added to TD element and the background color is set to yellow. However when the data updated in 5 secs later, that class name on TD element was removed.

[2019-08-20 09:17] AMBudnik commented on #131
My bad, I've misunderstood the case.

You're right in the main demo the `htDirty` class is not attached to the TD element. It looks like calling `table.render()` after `setCellMeta` solves the issue.

[2019-08-20 12:59] AMBudnik commented on #132
Thank you for sharing the demo.
As this is a new data all the metadata is gone. You'd need to attach the `className` once again.

[2019-08-20 16:03] CBMasri commented on #131
No worries! Calling `table.render()` does indeed work, but I would argue that's more of a hack than an actual fix. As per the handsontable docs on `render()`:

Isn't it reasonable to assume that this library should support adding new reactive properties (as it has in the past) without the negative performance aspects of a full table re-render?

[2019-08-21 07:32] chao commented on #132
How can I re-attach the className when value changed? I add a watcher to `value` property to change className but it doesn't work.

[Example](https://jsfiddle.net/czhou/tv3opcg7/21/)

[2019-08-21 08:06] AMBudnik commented on #131
That's 100% true. It worked differently before so we should get this working the same without a need to call additional function.

[2019-08-23 09:14] AMBudnik commented on #132
Hey @chao

Here's the working example https://jsfiddle.net/gu752nsv/
It needed a bit of additional logic to get the instance reference.

[2019-08-24 09:37] chao commented on #132
@AMBudnik
You only changed the DIV class inside TD. I'm sure you can do that. The problem is we need to set the whole TD class.

[2019-08-28 08:06] AMBudnik commented on #132
Hey @chao

here's https://handsontable.com/docs/7.1.1/frameworks-wrapper-for-vue-hot-column.html a tutorial on how to use the renderer for hot-column It should clarify doubts

[2019-08-29 09:41] chao commented on #132
Thanks for the document, I have read that part many times but I cannot get a solution. An example would be great.

[2019-08-30 17:12] vix515 opened #133 "When setting columns I want to set the data part of the col to be a getter func."
Loading an array of objects 'Loans' as table-data and then

When setting up columns:

[code]

[code]

When putting the function name as the column-data parameter nothing is displayed. But if I put the variable name 'PropertyName' it works. I want to use getter functions to display the col-data.

[2019-09-02 07:09] AMBudnik commented on #133
Have you tried to use the function in `columns` instead of an array of objects?

[2019-09-04 08:54] AMBudnik commented on #132
Sorry for keeping you waiting. I was waiting for a developer's feedback. Here's the updated example https://jsfiddle.net/2j9notux/

[2019-09-04 19:25] Guobacai opened #134 "How to add customized hook callback"
### Description
We had a customized "select row" plugin in the handsontable. Every time a row is selected, it runs the hook "afterSelectedRowsChanged". We need to add a local callback to hotInstance. Is there any recommended way to do?
I have tried to do the following in "mounted", but failed.
`
this.$refs.table.hotInstance.addHook('afterSelectedRowsChanged', () => {});
`

### Your environment
* V

[2019-09-05 04:00] chao commented on #132
Thanks for the answer, so that we still have to use hot table renderer function to set TD classname. I hope hot-column will support such function in the future.

[2019-09-05 04:00] #132 closed, assigned to nobody

[2019-09-05 12:20] AMBudnik commented on #134
Hey @Guobacai

if you need a hook that runs after changes you can use the `beforeChange` and `afterChange` in the combination of `getSelectedLast` method. Have you already tried it?

[2019-09-05 14:31] vix515 commented on #133
Sorry yeah, I pass the data and in columns I set the getter function to get the data.

[code]

[2019-09-06 13:46] AMBudnik commented on #133
Does it work smoothly in your case @vix515 ?

[2019-09-09 19:17] Guobacai commented on #134
Hi @AMBudnik

Thanks for your quick response. I did try "afterChange" and "afterInit". The "hotInstance" is null in both cases.
[code]
In the "EntityTable", I passed the handler of "afterInit" to the HotTable. But, inside of the handler, I couldn't get the hotInstance.

[2019-09-10 06:16] AMBudnik commented on #134
[Here's an example that can help](https://codepen.io/anon/pen/QVKBLZ?editors=1010). It's designed to export files, but it uses the hot instance in a reference - exactly what you need right now.
You need to add the `ref="name"` tag in the `<hot-table>` element. And then by using the reference you get to the instance `this.$refs.name.table`.

[2019-09-11 02:59] Guobacai commented on #134
Hi @AMBudnik
Thanks so much for the answer. I think my question wasn't very clear.
What I want to know is if I want to add a **customized hook callback** to an instance of Handsontable Vue, at which lifecycle should I call the following function? "mounted" or "updated"?
`this.$refs.table.hotInstance.addHook('afterSelectedRowsChanged', () => {});`
Or, is there any other recommended way to add a **c

[2019-09-12 10:14] AMBudnik commented on #134
[Here, in the Vuex example](https://handsontable.com/docs/7.1.1/frameworks-wrapper-for-vue-vuex-example.html), we use an update callback (called each time the data changes) directly in settings. You do not need to refer to Vue's lifecycle hooks.
`Mounted` is used is cases like here https://handsontable.com/docs/7.1.1/frameworks-wrapper-for-vue-language-change-example.html when we want to load a la

[2019-09-16 22:31] davestewart opened #135 "Version v4.1 references original `data` array where 4.0 did not"
### Description

The reference to the source `data` array is different between 4.0 and 4.1

- Version 4.0 creates a new array, but **copies** items (references) from the original source array to a new array
- Version 4.1 **references** the entire source array

This has VERY different effects and knock-on effects!

It seems that HOT 7.0.0 maintains a reference to the original array, so this behavio

[2019-09-17 11:23] zhangwz commented on #117
but after I add language: 'zh-CN', set dropdownMenu:true，the table's dropdown menu is still English.

[2019-09-17 11:29] AMBudnik commented on #117
Hey @zhangwz

here's the language tutorial that can come in handy https://handsontable.com/docs/7.1.1/tutorial-internationalization.html and the language change example for Vue https://handsontable.com/docs/7.1.1/frameworks-wrapper-for-vue-language-change-example.html

[2019-09-30 11:15] wojciechczerniak commented on #135
WOW! This thread is amazing!

First of all, sorry for the breaking change. With the new `hot-column` component we had to refactor how we collect the settings from various sources. As you already noticed this put the wrapper `data` reference more inline with the Handsontable, might be the reason why we didn't recognized this correctly. But I understand that this broke your code and should be marked

[2019-09-30 11:38] davestewart commented on #135
Hey Wojciech,

Thanks for the reply and compliments!

I have some bad news... I've refactored how we do HoT in Vue and it's completely different (again)... but far superior!

Now I'm actually using a raw HoT instance, and it's much more intuitive. This is not to say the Vue wrapper is not, but our tables are now very advanced, and the Vue wrapper was really just an extra unneeded layer.

I have cr

[2019-09-30 17:57] wojciechczerniak commented on #135
Cool, looking forward to check your approach to Handsontable and Vue 😃

[2019-10-10 11:25] udaandev commented on #70
I am implementing handsontable in nuxt js and facing same error. Please help

[2019-10-10 12:03] AMBudnik commented on #70
Hey Guys,

please share the code if you're still facing this issue. I'd build it on my device and check what's wrong.

[2019-10-10 12:08] wojciechczerniak commented on #70
Missing  `navigator` is a configuration issue with SSR. Please follow this article: https://medium.com/@codebeast_/why-your-third-party-plugin-dont-work-in-nuxt-and-how-to-fix-it-d1a8caadf422 to configure SSR for Handsontable

[2019-10-12 07:49] chen-ABC opened #136 "Why the cellProperties properties rolled back in hot-column component"
### Description
I wanted to render different components based on cellMeta custom properties, but I found that clicking on other area after setting the properties,  properties   would roll back
What should I do?

### Demo
https://jsfiddle.net/1h0dbqL8/1/

### Your environment
* Vue wrapper version: 4.1.0
* Handsontable version: 7.1.1
* Browser Name and version: chrome 59
* Operating System: windows

[2019-10-16 08:14] AMBudnik commented on #136
Hey @chen-ABC

`cells` is called on every `render()`. You may add a condition to block it if the `name` is already defined as `new`. (it depends on the project requirements).

[2019-10-16 09:17] chen-ABC commented on #136
a method:
I stored cellsMeta  on  the vuex.

custom-render:
![image](https://user-images.githubusercontent.com/30097790/66905142-e194be80-f037-11e9-96cb-63afbe9e7dbd.png)

Like the official example : https://handsontable.com/docs/7.1.1/frameworks-wrapper-for-vue-hot-column.html#v-model

[2019-10-16 09:38] AMBudnik commented on #136
That is totally fine and it should be done this way but once you use `cells` method and attach new values for the same properties they are attached after each render of the table as they have higher priority.

[2019-10-16 09:55] #136 closed, assigned to nobody

[2019-10-16 11:17] Anatolii-Novikov opened #137 "Compatibilities with new version 7.2.0"
### Description
I updated handsontable from 7.1.1 to 7.2.0 and after that I get a typescript error:

[code]

### Steps to reproduce

1. Update Handsontable from 7.1.1 to 7.2.0

### Your environment

[code]

[2019-10-16 12:13] jansiegel commented on #137
@Anatolii-Novikov You're right, we're on it.

Until this issue is fixed, please use the last working Handsontable version ([7.1.1](https://github.com/handsontable/handsontable/releases/tag/7.1.1)).

[2019-10-22 10:45] jansiegel opened #138 "There are some inconsistencies in the BaseEditorComponent typings."
### Description
Apart from a breaking change related to #137, there are also some inconsistencies between the `BaseEditorComponent` and Handsontable's definition file.
They need to be addressed, so the editor component would call the editor class methods correctly.

### Steps to reproduce

1. Try to build the vue wrapper using versions `7.2.0`+
**Result:** `Tsc` throws an error about unimplemented

[2019-10-24 10:44] AMBudnik commented on #137
Hi @Anatolii-Novikov

I have great news.
We've just released a new version of the wrapper that fixes the following issue.
Please update and let me know if it works in your project as well.

[2019-10-24 10:44] #137 closed, assigned to nobody

[2019-10-24 10:44] #138 closed, assigned to nobody

[2019-10-24 14:55] Anatolii-Novikov commented on #137
Hi @AMBudnik

Thank you for your efforts.
After updating it works

[2019-10-24 15:23] rwspielman opened #140 "Breaks Vue devtools in Chrome and Firefox"
### Description
I want to inspect a component that has a handsontable in it. when i go to inspect it, I get the following error:

`TypeError: can't convert symbol to string`

### Steps to reproduce

1. Install @handsontable/vue , build a component with a simple table on it
2. install vue devtools in either google chrome or firefox
3. open vue devtools, in the "components" tab, go to the parent com

[2019-10-25 03:35] chen-ABC opened #141 "vue watch CustomRenderer cellProperties error"
### Description
I need to listen for cellProperties changes for the next step
but an error occurred
![image](https://user-images.githubusercontent.com/30097790/67541393-5db79200-f71b-11e9-80c8-36a0e5831b3d.png)

watch code
[code]

### Demo

https://jsfiddle.net/26cwr3zv/4/

### Your environment
* Vue wrapper version: 4.1.1
* Handsontable version: 7.1.1
* Browser Name and version: chrome 64
* Opera

[2019-10-25 06:58] AMBudnik commented on #137
Thank you for the prompt feedback Anatolii.

[2019-10-25 09:33] AMBudnik commented on #141
Thank you for investigating this subject @chen-ABC

It looks like we get the same calls over and over again. As soon as we remove `Deep` the process stops.

However, with the number of hooks that Handsontable brings you should be able to get the same amount of information. If you won't be able to find it in the docs I'll be happy to help.

[2019-10-25 09:37] AMBudnik commented on #141
Nevertheless, we should describe this situation in the docs or a blog post as many tutorials (including VueJS documentation) mention `deep` as a proper way to watch changes in the application.

[2019-10-25 11:08] AMBudnik commented on #140
Welcome @rwspielman

to solve this issue we need to wait for VueJS to merge this pull request https://github.com/vuejs/vue/pull/10529

Topic explained here https://forum.handsontable.com/t/after-set-ref-attribute-in-table-shows-error/3738/1
Update [topic](https://forum.handsontable.com/t/typeerror-cannot-convert-a-symbol-value-to-a-string/3768) after fixing

[2019-10-29 06:02] chen-ABC commented on #141
@AMBudnik thanks, I've learned

[2019-10-29 06:02] #141 closed, assigned to nobody

[2019-10-29 06:02] chen-ABC commented on #141
@AMBudnik thanks, I've learned

[2019-10-29 06:02] chen-ABC commented on #141
@AMBudnik thanks, I've learned

[2019-10-29 06:02] chen-ABC commented on #141
@AMBudnik thanks, I've learned

[2019-10-29 08:59] chen-ABC opened #142 "Row and column changes cause cellMeta to be emptied"
### Description
Row and column changes cause cellMeta to be emptied
I want to keep CellMeta  data
### Steps to reproduce
1.Click the setcellmeta button, and then position 1,1 font turns red
2.Create rows or columns, or delete rows and columns
3.cellMeta tobe empty

### Demo
https://jsfiddle.net/enogx7ka/1/

### Your environment
* Vue wrapper version: 2.6.10
* Handsontable version: 7.2.2
* Browser

[2019-10-29 10:32] AMBudnik commented on #142
Hey @chen-ABC

thank you for sharing the example. We should mention this topic in https://github.com/handsontable/handsontable/issues/6274

#### Could it be a Vue issue?

**Broken**
Here's the simplified Vue example https://jsfiddle.net/thn8L9za/ (changed to classes)

**Working**
Vanilla https://jsfiddle.net/60ko2y7u/
Angular https://stackblitz.com/edit/angular-tiafh6?file=src/styles.css

Both are

[2019-10-29 10:33] #134 closed, assigned to nobody

[2019-10-29 10:33] #133 closed, assigned to nobody

[2019-10-30 01:31] chen-ABC commented on #142
Hey @AMBudnik
I'm sorry I didn't notice that topic.
But I found use
Vue: 2.6.10
vue-handsontable-official version: 3.1.0
Handsontable version: 5.0.1
Everything seems to be ok

[2019-10-31 15:39] waynermaia opened #143 "Copy and Past and Data Entry is generating -> [Object Object]"
### Description
Well, when copy data from data table since be a type collapsible and paste in excel or other spreadsheet based table is showing [Object Object] into cells.

### Steps to reproduce

1. Create a Collapse table with Handsontable
2. Copy some data of any cell
3. Paste into cell on excel

### p.s
Data entry also is showing [Object Object].

### Demo

http://jsfiddle.net/gr47deqa/1/

###

[2019-10-31 15:53] wojciechczerniak commented on #143
Correct. You keep an object as value and when it's stringified for the clipboard the result should be `[Object Object]`. You can use `beforeCopy` hook to map the values to simpler values before Handsontable stringifies the data.

[2019-11-08 07:11] webwhy opened #144 "Manually merged cells become unmerged after addded new rows"
### Description

now: Manually merged cells become unmerged after addded  new rows
hope: dont be
### Steps to reproduce

1.first merge some cells
2.then insert a row anywhere
3.those merged cells become unmerged

### Demo

https://jsfiddle.net/handsoncode/dezfbgjt/

### Your environment
* Vue wrapper version:
* Handsontable version:
* Browser Name and version:
* Operating System:

[2019-11-08 07:53] AMBudnik commented on #144
I'm closing this issue as this is the same one as https://github.com/handsontable/handsontable/issues/6434

ps. Please go to https://github.com/handsontable/handsontable/issues/6434 and attach a demo where the issue can be replicable

[2019-11-08 07:53] #144 closed, assigned to nobody

[2019-11-28 08:04] ImagineZzf opened #145 "Import declaration conflicts with local declaration of 'HotTableProps'."
### Description
Before I reinstall the project, everything is normal.
Now typescript error

[code]

[code]

I found that the version I installed was 4.0.0, but It's totally different in node_modules, why ?

### Your environment
* Vue wrapper version: 2.6.10
* Handsontable version: 7.0.3
* @handsontable/vue version: 4.0.0

[2019-12-09 01:54] thinkAmi commented on #145
I had the same error message.

In my case, use TypeScript version 3.7.3.

I have fixed it by downgrading TypeScript from 3.7.3 to 3.6.4.

[2019-12-09 07:19] AMBudnik commented on #145
Thank you for sharing this case. We need to investigate it further.

[2019-12-12 16:40] leavesgreen opened #146 "the bind data is not sorted when the column sort."
### Description
I make a table by use the option    columnSorting: true,  in order to sort the table data.
when I click the column head. the data in the table do re-ordered. but when i change one of the cell. I want to get the row index to change another cell by the afterChange callback. and I do got the row index. but when I use the index to get the data row of the table data which the table bind

[2019-12-13 08:31] AMBudnik commented on #146
Hey @leavesgreen

Please let me know what exact steps should I take while using this demo https://jsfiddle.net/AMBudnik/qo4jr0d6/? That's `7.3.0` of Handsontable with the Vue wrapper.

[2019-12-15 01:41] leavesgreen commented on #146
@AMBudnik , thank you so much.
Sorry that  I can't open the link of jsfiddle.net ; it looks like I was blocked by my domain corp.

Let me explain the question in this steps. may be it's clear a little bit.

I use the Vue like follow:

`  new Vue({
    el: '#example1',
    data: function() {
      return {
        hotSettings: {
          data: [['A',1,10],['B',2,20],['C',3,30]],
          colHeade

[2019-12-16 12:59] AMBudnik commented on #146
Hey @leavesgreen

to change the data in the `afterChange` I recommend using[ `setDataAtCell` method](https://handsontable.com/docs/7.3.0/Core.html#setDataAtCell).
You should remember to add the last parameter (your custom string)

![image](https://user-images.githubusercontent.com/10757813/70908718-317a0c80-200c-11ea-86cb-36ee8c1baf47.png)

In other way you'd end up with an infinite loop and a han

[2019-12-16 13:38] leavesgreen commented on #146
thank you. @AMBudnik
this is another question, when I use Vue, I have not a variable like hot1, and I dont't know how to get it.
so I tried use this.setDataAtCell in the afterChange callback method directly, and certainly it is undefined.

[2019-12-16 15:56] leavesgreen commented on #146
thanks a lot @AMBudnik ;
I found a way to get the ref to hot1 instance. by the Vue ref attr,
`this.$refs.hot1.hotInstance`
maybe it's not the best way . but it really work fine.
thank you again. your grace.

[2019-12-16 15:59] wojciechczerniak commented on #146
Hi @leavesgreen It is the best and recommended way: https://handsontable.com/docs/7.3.0/frameworks-wrapper-for-vue-hot-reference.html

[2019-12-17 16:49] vincesp opened #147 "Custom renderer component: value passed as string instead of object"
### Description
One column of my table requires a complex data model, so I want to create a custom renderer and editor component for that column.
If loading my **renderer**, HOT is passing the value as an **object**.
If loading my **editor**, HOT is first running the value through stringify and then passing a **string** value to the `setValue()` function of my editor. The other direction works pro

[2019-12-17 17:19] vincesp commented on #147
I noticed that also some other features of HOT are not working when using an object as a cell value, like autofill, copy'n'paste.
Alternatively, I realized I could simply store the value as a JSON string and parse that in the renderer and editor.
What would be the recommended pattern?

[2019-12-20 02:32] dlkulp commented on #145
Also have this problem, don't want to have to update the rest of my project to remove TS 3.7.X features if there's any way to avoid it.

Seems to be due to this change in TS: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#local-and-imported-type-declarations-now-conflict

Looks like a quick solution is to rename the duplicate imported token like so:
`import { module

[2019-12-20 10:40] AMBudnik commented on #147
Thank you for sharing. I've asked my colleague to ib=nvestigate the case.

[2019-12-20 12:11] AMBudnik commented on #147
Hey @vincesp

I just got an update

[2019-12-30 07:58] ZwjDreamMail opened #149 "nestedHeaders是否能够实现行的合并"
### Description
目前nestedHeaders多表头可以实现多列合并成一列，但是不支持多行合并成一行

### Steps to reproduce

[2019-12-30 08:00] AMBudnik commented on #149
Hey @ZwjDreamMail

The Handsontable itself does not support `rowspan` of columns yet. This topic is mentioned here https://github.com/handsontable/handsontable/issues/6553

[2019-12-30 08:00] #149 closed, assigned to nobody

[2020-01-02 03:34] zero530 commented on #145
Also have this problem, but can fix it.I have comments below code and re-build, it successfully.
import { HotTableProps } from './types';

[2020-01-07 08:50] SkyGrass commented on #122
hi , i have same problem . do you solve it ?

[2020-01-07 09:04] SkyGrass commented on #122
getActiveEditor().htEditor may be usefull

[2020-01-23 13:20] aninde opened #165 "Update to support v8.0.0"
### Description
We should update the Vue-Handsontable to support v8.0.0

### Your environment
* Vue wrapper version:
* Handsontable version: 8.0.0 v.
* Browser Name and version: all supported
* Operating System: n/a

[2020-01-30 11:38] noninyo opened #166 "change class using cellProperties"
### Description
I would like to change the background of a cell base on his value.
I change cellProperties.className in cells function but this doesn't help.
any I idea how can I do it?
Thanks!

### Demo

https://jsfiddle.net/noninyo/jv6t82gh/17/

[2020-01-30 13:06] AMBudnik commented on #166
Hey @noninyo

here's an article full of cell dependencies example https://handsontable.com/blog/articles/2016/4/expand-your-app-with-cell-dependencies I guess that the [first one](https://jsfiddle.net/handsoncode/usfko0gL/?utm_source=website&utm_medium=embed&utm_campaign=usfko0gL) fit your project well.

In this example, we use the `beforeChange` hook to check the new value of a cell and attach `c

[2020-02-02 23:02] mismith commented on #129
Has anyone else figured out how to do this? I couldn't get any of the snippets posted above to actually work, and am hoping something has changed since this was originally asked that would make this possible nowadays?

[2020-02-03 10:46] pnowak commented on #129
Hi @mismith

Unfortunately, we have not yet implemented the changes that @wojciechczerniak mentions above.
And we don't have them on our roadmap yet.

[2020-02-03 12:43] noninyo commented on #166
Hi,

Thanks for the answer!
I try using both beforeChange and afterInit but got no change
you can see it here
https://jsfiddle.net/noninyo/jv6t82gh/31/

[2020-02-03 12:49] AMBudnik commented on #166
Here's an updated demo https://jsfiddle.net/w72onxkm/

I just removed

![image](https://user-images.githubusercontent.com/10757813/73654382-d4095000-468b-11ea-9e59-154eab34525a.png)

JSFiddle have its own handling of containers and it opens the `style` in the invisible area.

[2020-02-03 16:35] aarondfrancis commented on #129
@mismith As the complexity of what I needed grew, I ended up abandoning the vue wrapper altogether and just using the standard HoT library, taking advantage of custom renderers where I needed them.

Clearly I'm not aware of your use case, but this has served me extremely well. I think the wrapper is quite nice for basic stuff though.

[2020-02-03 18:05] mismith commented on #129
@aarondfrancis Yeah, I think I may just have to build the renderer is native DOM after all :(
I was hoping to be able to reuse some existing file upload logic (in Vue-land) instead, and was unsure whether the snippets above were just guesses/POC or whether they would actually function (albeit as hacks, presumably)

[2020-02-04 08:42] noninyo commented on #166
Thanks for the help!
It work now :)

[2020-02-04 08:42] #166 closed, assigned to nobody

[2020-02-05 01:18] rwspielman opened #167 "Pasting in > 1000 rows of data causes validation errors due to max ajax requests"
### Description

Pasting in lots of data with an ajax validation causes an overload of requests on google chrome. it prevents the data from being pasted and showing up in the table

### Steps to reproduce

1. Add validation to a column and have it send an ajax requests
2. Paste in 2000 values from excel
3. Observe in the network tab that XHR requests begin to fail towards the end
4. Fail to load r

[2020-02-05 01:49] rwspielman commented on #167
added axios-rate-limit as a package to throttle it, but is there any way to calculate them column-wise in a batch?

[2020-02-05 01:49] #167 closed, assigned to nobody

[2020-02-05 09:15] AMBudnik commented on #167
Hey @rwspielman

can you send over a demo? When I copy `2` column x `2000` row array into you `A1` cell I get this

![image](https://user-images.githubusercontent.com/10757813/73827713-56b31c00-4800-11ea-9ccc-18e3300ef1b8.png)

[2020-02-05 15:35] rwspielman commented on #167
I receive the following image as well.
It seems to hit a 1000 requests limit because there is no rate limit throttling. In the network tab, it says failed on the request.

<img width="1059" alt="2020-02-05 09_25_30-Edit fiddle - JSFiddle" src="https://user-images.githubusercontent.com/20442310/73855405-a93d0a00-47f9-11ea-9748-c8c22e64743b.png">

<img width="488" alt="2020-02-05 09_28_16-Edit fiddl

[2020-02-08 10:13] codingstuff91 opened #168 "Module not found: Error: Can't resolve 'handsontable'"
### Description
I use VUE-CLI and i tried to test HOT for a new project.

I tried to create a sample test table in the about view that the vue cli generates for me.

Though I refer to the example that i found on the official documentation see below :

but when webpack do the compilation it displays the message below :

Maybe i did something wrong and i dont know what...

### Steps to reproduce

1.

[2020-02-11 09:23] #143 closed, assigned to nobody

[2020-02-11 09:24] #146 closed, assigned to nobody

[2020-02-13 12:55] AMBudnik commented on #168
hey @codingstuff91

would you be able to send the project .zip to support@handsontable.com?

[2020-02-26 07:19] ZengLingYong opened #169 "Validator className is miss when use Custom Renderer Component in hot-column"
### Description
when I use the hot-column and customRenderer, validator is doing, but td's className is not 'htInvalid'. if I not use customRenderer component, it is working.

[code]

### Demo
https://jsfiddle.net/y9czb5q1/21/

### Your environment
* Vue wrapper version: 2.x
* Handsontable version: 7.4.2
* Browser Name and version: Chrome
* Operating System: OSX

[2020-02-26 13:07] pnowak commented on #169
If we don't use a `template` the class `htInvalid` is correctly added to `td` - https://jsfiddle.net/spfzjog3/.
But when we use `template` so `td` has some children nodes, `handsontable` doesn't attach the class `htInvalid` to `td` - https://jsfiddle.net/vx35tbqm/.

It needs further investigation to determine the source of this behaviour.

Thanks @ZengLingYong for reporting this issue.

[2020-02-27 00:35] ZengLingYong commented on #169
Is there any other way to make template to td has 'htInvalid' class? customRender get the cellProperties.valid is undefined. Thanks. @pnowak .

[2020-02-27 01:15] ZengLingYong commented on #169
I try to use cell Properties.valid to generate 'Invalid' className in custom Render component, but the validate time is no good.

When the date change, I use validateCells to trigger all cells validate, but not all cells the valid updated.

Is there any other way to solve it, i need the customRender component, but stuck on this issue.

Sorry, My english is not good enough. Thanks for you help.

ht

[2020-03-07 10:14] codingstuff91 commented on #168
Hi,
Sorry to answer so late.
I found myself my problem.

It was because i didnt import the Handsontable plugin before using it with the vue specific one.

[2020-03-09 13:52] pnowak commented on #168
Hi @codingstuff91

Thanks for the information.
So I close the issue.

[2020-03-09 13:52] #168 closed, assigned to nobody

[2020-03-27 17:36] gelinger777 opened #171 "Watch Cell Changes before after values ?"
Sorry for a very newbie question. But I want to achieve following in the Vue version and couldn't figure it out.

My component   is set as  following.

   ```      <hot-table  :settings="hotSettings" :data="workbook"  colHeaders="" rowHeaders="" width="1400" height="1000"></hot-table>```

I am dynamically changing the whole data object. I want on each cell value change fire an event and be able to

[2020-03-30 13:00] pnowak commented on #171
Hi @gelinger777

I think you could use a state manager to keep data. After each change, you could compare the previous data with the new one.
Here is an example with Vuex - https://handsontable.com/docs/7.4.2/frameworks-wrapper-for-vue-vuex-example.html

What do you mean by `pass the map of styling data`?

Last but not least, can you show your implementation? It could be much easier to find a solu

[2020-03-30 16:32] gelinger777 commented on #171
@pnowak  thank you for your answer. I didn't thought about the Vuex. I will give a try.

styling thing I have solved already . Only thing is left how to animate background with like short blink . Maybe already Vue Handsontable or Handsontable already have something like that .. ??

[2020-03-31 06:44] pnowak commented on #171
No, we don't use `blinking` background.
But you could easily achieve this by CSS, e.g. - http://jsfiddle.net/umz8t/6490/

[2020-04-23 12:25] jansiegel opened #172 "Passing props to the renderer components."
### Description
It looks like currently it is impossible to pass props to the renderer components.

### Steps to reproduce
1. Go to http://jsfiddle.net/js_ziggle/1jy4o0Lf/
2. The `test-prop` prop should be readable in the renderer component, but it's not.

### Demo
http://jsfiddle.net/js_ziggle/1jy4o0Lf/

### Your environment
* Vue wrapper version: 4.1.1
* Handsontable version: 7.4.2

[2020-05-01 05:31] carlospas commented on #72
I don't know how or I can't getSourceData(), afterChange  I'm using vue.
what can I do? you could help me, please?

https://jsfiddle.net/yfjdubvo/

[2020-05-01 14:41] carlospas opened #175 "get instance on vue, getSourceData(), afterchange"
### Description

 I need getSourceData() afterchange
ex.
const my_instance  = this.$refs.myTable.hotInstance;

console.log(my_instance.getSourceData())

### Steps to reproduce

1. vue.js:634 [Vue warn]: Error in mounted hook: "TypeError: Cannot read property 'myTable' of undefined"
found in

---> <HotTable>
       <Root>

2. vue.js:1897 TypeError: Cannot read property 'myTable' of undefined

3.

#

[2020-05-01 21:18] hansfelix commented on #72
Check this fiddle @carlospas
https://jsfiddle.net/hansfelix50/ev509wu6/

[2020-05-04 09:03] AMBudnik commented on #175
Hey @carlospas

here's a tutorial on how to refer t the instance of Handsontable https://handsontable.com/docs/7.4.2/frameworks-wrapper-for-vue-hot-reference.html

Following this example here https://jsfiddle.net/bj4un21z/ is an example of how to get `getSourceData()` on a button click and here https://jsfiddle.net/3q7hfw0d/ is a demo where you get` getSourceData()` result in the `afterChange` hoo

[2020-05-04 09:45] AMBudnik commented on #72
Thank you for your feedback @Hansfelix50
@carlospas I've also answered the same question here https://github.com/handsontable/vue-handsontable-official/issues/175

[2020-05-15 18:31] TeamDman commented on #20
I'm using a handsontable with v-once and a computed property for the data object.
I'm manually calling loadData in a watcher on my computed property.
The undo wasn't working, since it clears its history when loadData is called.
To fix this:
[code]

https://github.com/handsontable/handsontable/blob/73825c299b65387b63991d3e263f964b71767f33/src/plugins/undoRedo/undoRedo.js#L258-L261

[2020-05-18 11:25] pnowak commented on #20
Hi @TeamDman

Can you show your implementation?

May I send to you demo from our docs - https://codesandbox.io/s/advanced-vue-hot-column-implementation-722-411-d4ymm?from-embed=&file=/src/main.js
And you based on it extend to better reflect your needs and your issue.

[2020-05-19 13:33] TeamDman commented on #20
I've modified your link to demonstrate the issue, this time using v-model instead of manually calling loadData the way I was on my project.

https://codesandbox.io/s/advanced-vue-hot-column-implementation-722-411-yubc2?file=/src/App.vue

Steps:
1. make a change
2. check the checkbox to enable the history hack
3. make another change
4. Ctrl+z/history will only work for changes made while the hack i

[2020-05-22 06:13] pnowak commented on #20
Hi @TeamDman

I asked for consultancy our Vue developer.

I will come back with his comments as soon as possible.

[2020-05-26 22:46] gelinger777 opened #176 "Partial Update"
I have a problem with re-rendering the whole component, as I have to update cell data each 1-2 seconds. The problem is that the numbers mostly change in several cells and not all table. Is that possible to partially update the data ?

[2020-05-27 10:34] pnowak commented on #176
Hi @gelinger777

Can you attach a demo where we can reproduce the issue?
Please describe all the steps to do so.

Without it could be hard to fully understand your issue.

[2020-05-27 23:04] gelinger777 commented on #176
Hi @pnowak . I can't attach a demo. Imagine you have a initiated a  normal table with 4 rows and 4 columns. Now you want to update only cell 2:3 (second column and 3rd row) or several columns. How to do it? Currently we update the data value and the whole table rerenders . Isn't it possible to update only 2-3 cells instead of the whole data?

We have a problem that the colwidth array is not workin

[2020-05-28 09:32] pnowak commented on #176
Unfortunately, it's impossible to render only one cell.

What do you mean `colWidth` array is not working at all?
Doesn't render columns with appropriate width?

[2020-05-28 20:26] gelinger777 commented on #176
no, it's not.  probably because we use the free version (v6)

[2020-05-29 13:35] pnowak commented on #176
I prepared a demo with a colWidths in Vue wrapper - https://codesandbox.io/s/col-width-n9pc2?file=/src/App.vue

It would be great if you could extend it to better reflect your issue.

[2020-05-29 18:34] gelinger777 commented on #176
Dear @pnowak  I can't provide you full test case , as we have a very complicated case where data comes each second from a pusher subscribe, and data is so that  float numbers length after dot change randomly, and because of that the table jumps left and right for 2-3 pixels. We have found other plugin which uses flexbox and divs , and we will abandon datatables. Thus I am closing the issue. Thank

[2020-05-29 18:34] #176 closed, assigned to nobody

[2020-06-02 07:52] magikadev commented on #172
Same question here.

[2020-06-02 09:20] magikadev opened #177 "How to call parent's method in custom render component?"
### Description
I am using custom render in hotTable.
In the custom renderer component, I want to call the parent's method when clicking an icon.
I tried to use event and props but both of them did not work.

Anyone please let me know solution.

### Demo
**Methods as props**
Home.vue
[code]

FirstColumn.Vue
[code]
_Error: this.method is not a function_

**Events**

Home.vue

[code]

FirstColumn.vu

[2020-06-02 10:20] pnowak commented on #177
Hi @magic990619

I would like to help you with that, but I will need a working demo first to clearly define the problem and offer a solution.

So could you extend our demo with custom renderer example - https://jsfiddle.net/6hwp7ofc/?

[2020-06-02 16:30] magikadev commented on #177
Hi, Thank you for your message.
I tried to make a demo on codesandbox.
https://codesandbox.io/s/relaxed-elion-v7x8i
But it shows error even though I tried to show basic handsontable.
Would you please have a look?

[2020-06-03 13:19] pnowak commented on #177
It works now. I think this was related to codesandbox bug - https://twitter.com/techniq35/status/1268011919748861953

So you can complete your demo.

[2020-06-03 15:59] magikadev commented on #177
Okay. Thank you.
I will complete demo soon.

[2020-06-03 16:19] magikadev commented on #177
Hello, @pnowak
I completed demo.
https://codesandbox.io/s/relaxed-elion-v7x8i
Please have a look.
Thank you.

[2020-06-04 10:33] pnowak commented on #177
Thank you for the demo.

I suppose do you try to achieve something similar to this - https://github.com/handsontable/handsontable/issues/5977?

Unfortunately, it seems that it is impossible.

[2020-06-04 19:04] magikadev commented on #177
Impossible?
Is there any way to call method in custom renderer component?

[2020-06-05 09:04] pnowak commented on #177
As @aleksandra said in this forum thread - https://forum.handsontable.com/t/how-to-style-specific-column-headers/3064/2?u - we do not have any official API for column renderers. That is also for customer renderers.

Maybe I don't fully understand your requirements. When I'll `click` or `doubleClick` in the cell each column what should happen?

[2020-06-05 17:27] magikadev commented on #177
I think this is not what I want to do. https://forum.handsontable.com/t/how-to-style-specific-column-headers/3064/2?u
What I want to do is like this.
When I click 'First click' and 'Second click', I want to put log of cell value on console.
But as you can see on demo, value is only logged on method of custom render. For calling parent method, it shows error. For easy understanding, I will add a sh

[2020-06-07 16:27] magikadev commented on #177
Is it impossible?

[2020-06-08 12:58] pnowak commented on #177
Hi @magic990619

I have to consult with our Vue developer.
If I'll have any clue I come back.

[2020-06-08 14:18] jansiegel commented on #177
@magic990619 The thing that I think you're trying to achieve is currently not possible due to a bug in the wrapper. It's already fixed on the `develop` branch (https://github.com/handsontable/vue-handsontable-official/issues/172), and will be out with the next `@handsontable/vue` release.

The fix allows passing props to custom renderers/editors, so it would be possible to pass `:method="handleUp"

[2020-06-08 16:04] magikadev commented on #172
It's working. Thanks @jansiegel

[2020-06-08 16:06] magikadev commented on #177
Thank you, @jansiegel  and @pnowak .
I tried on your codesandbox, it's working.
When will the next version be released?

[2020-06-09 03:08] magikadev commented on #177
How can I use it on my application?

[2020-06-09 08:15] pnowak commented on #177
We plan to release wrapper with a new version of Handsontable.
Handsontable 8.0.0 is at the stage of fixing all found regression issue.

Unfortunately, I can't give the precision date release. But I suppose it takes a few weeks.

[2020-06-09 08:25] magic990619 commented on #177
Few weeks...
It's quite long time for me. I am working on a educational project and I have to use handsontable.
Is there any way to use @jansiegel 's commit?

[2020-06-09 08:27] magic990619 commented on #172
Thank you for your work, @jansiegel
Well, I am working on an educational projects and I have to use handsontable.
Is there any way to use your commit at the moment?
Till release new version, it's quite long time for me.
Thanks.

[2020-06-10 16:01] magikadev commented on #172
How can I use it on my website before release fixed version?

[2020-06-10 16:01] magikadev commented on #177
How can I use it on my website before release fixed version?

[2020-06-12 10:34] pnowak commented on #177
As @jasonlfunk said in https://github.com/handsontable/vue-handsontable-official/pull/173#issuecomment-643133225 you have to `git clone` from `develop` branch and `npm i` && `npm run build`.
Next, use `npm pack` and move `handsontable-vue.something.tgz` to your directory.
In your folder make use `npm i handsontable-vue.something.tgz --save`. And you could normally import `import { HotTable } from

[2020-06-12 10:36] pnowak commented on #172
I responded to your comment here - https://github.com/handsontable/vue-handsontable-official/issues/177#issuecomment-643201997

[2020-06-16 08:16] jasonlfunk commented on #132
I'm encountering this issue too. And @AMBudnik's latest solution isn't an option as the `cells` callback doesn't seem to be used for custom-renderers.

Here is what should work, but doesn't: https://jsfiddle.net/jrhkb5Lm/2/
A you can see, the class-name property is correctly applied to TDs in column B but not in column A.

I noticed in the documentation that custom renderers should extend one of t

[2020-06-16 08:36] wojciechczerniak commented on #132
@jasonlfunk  Extending TextRenderer is just a shortcut. You can have the very same login in your own custom-renderer. Take a look at https://github.com/handsontable/handsontable/blob/master/src/renderers/_cellDecorator.js what we're doing internally. Import `cellDecorator` from `handsontable/es/renderers/_cellDecorator.js` and apply it in the first line of your renderer or copy the code to your ap

[2020-06-16 09:54] jasonlfunk commented on #132
@wojciechczerniak Thanks. That has gotten me a bit closer.

See this updated fiddle: https://jsfiddle.net/6t9bmzn8/3/

Everything looks fine on the first load. But if you made any changes to column A, the classes get reset. I tried adding a watcher to the `value`, which fixed it for the column you change. But it still clears the rest of the cells in the column. I presume because the value doesn't

[2020-06-16 16:57] magikadev commented on #177
Hi, @pnowak , @jansiegel , @jasonlfunk

Passing props is working well on codesandbox.
https://codesandbox.io/s/clever-bardeen-jvt00
But it's not working on my project. I cloned the develop branch, build it and use it on my project.
Attached is the one that I built and use in the project. (/node_modules/@handsontable)
[@handsontable.zip](https://github.com/handsontable/vue-handsontable-official/fil

[2020-06-16 16:58] magikadev commented on #172
Hi, @pnowak , @jansiegel , @jasonlfunk

Passing props is working well on codesandbox.
https://codesandbox.io/s/clever-bardeen-jvt00
But it's not working on my project. I cloned the develop branch, build it and use it on my project.
Attached is the one that I built and use in the project. (/node_modules/@handsontable)
[@handsontable.zip](https://github.com/handsontable/vue-handsontable-official/fil

[2020-06-17 10:27] pnowak commented on #177
Hi @magic990619

Are you sure about codesandbox? I get a syntax error - `SyntaxError: [BABEL] /src/main.js: Unexpected token ; in JSON at position 12 (While processing: "base$0")`.

<img width="796" alt="Zrzut ekranu 2020-06-17 o 12 26 12" src="https://user-images.githubusercontent.com/1555809/84887291-cfbb5d80-b095-11ea-876e-c8681f94d3e3.png">

[2020-06-17 17:15] magikadev commented on #177
I think that's a bug of codesandbox.
Please try to save main.js again. Sometimes, it shows syntax error.
If you save main.js again, that error disappears.

[2020-06-17 17:37] patrickryan79 opened #179 "Failed cell validation automatically clears from previous row when editing a new row"
### Description
I'm not sure if this is an intended feature, but I attempted to reproduce this without the wrapper and was unsuccessful. If I have a validator on a particular field, and trigger that validation, when I jump to a new row (i.e. `minSpareRows: 1`) the validation error clears from the previous row.

### Steps to reproduce
1. Open fiddle
2. Fill out name and tab to the next cell, which

[2020-06-18 06:30] pnowak commented on #179
Hi @patrickryan79

Thank you for your report.

You have right.
We need to further investigation about this issue.

[2020-06-22 08:12] pnowak commented on #172
Hi @magic990619

It's better to keep the same question in one place.

So please follow in this thread as I wrote above - https://github.com/handsontable/vue-handsontable-official/issues/177#issuecomment-643201997

[2020-06-22 08:18] pnowak commented on #177
I tried a few times and the result is the same.
I asked for help our manager @aleksandra and unfortunately, she had the same error.

So could you check one more time that this demo works for you?

[2020-06-22 09:37] magikadev commented on #177
https://drive.google.com/file/d/1X3nw-xUv_9FwYHK1WjCVOAjlo7AsPbC8/view?usp=sharing
Please have a look this video.

[2020-06-22 10:42] pnowak commented on #177
If we remove/commented `getDebugInfo` and again save the file it starts working.

Nevertheless, because this is a custom implementation code review and guidance is reserved only to the client with an Extended support license.

Could you send to `support@handsontable.com` your license key?

[2020-07-09 11:38] #175 closed, assigned to nobody

[2020-07-09 11:39] #171 closed, assigned to nobody

[2020-07-16 21:12] Guobacai commented on #165
The Handsontable beta2 just comes out. Looks like the `Handsontable.DefaultSettings()` is no longer a constrcutor.
This works on beta1 though.

You can see the error in this fiddle:
https://jsfiddle.net/guobacai/9dhp3tn7/13/

[2020-07-17 06:24] AMBudnik commented on #165
Thank you for sharing the demo @Guobacai
We will test it once we prepare Vue to use 8.0.0.-beta2.

[2020-07-23 14:28] aninde opened #181 "Undo doesn't work with Insert and remove"
### Description
After `Insert operations` or `Remove columns` undo doesn't work. There is no such option at all in the context menu.
Undo work after removing rows from the contextMenu (but data are displayed wrong ), but not after removing columns.

![insert-undo](https://user-images.githubusercontent.com/30186818/88297576-58b25e00-cd00-11ea-9b17-98664f1c6876.gif)

### Steps to reproduce
Try to in

[2020-07-23 14:44] aninde opened #182 "Undo doesn't work corectly with trim rows"
### Description
Wrong data are displayed after undoing removal of all rows when we got trimmed Rows.
A keyboard shortcut does not work.

![undo-vue](https://user-images.githubusercontent.com/30186818/88299565-c95a7a00-cd02-11ea-969c-2915de00048b.gif)

Initial state: (left) After undoing of all rows  removal (right):
Row with (A3-B3) and row with A7-B7 was trimmed.

<img width="171" alt="Screenshot

[2020-07-23 15:13] aninde opened #183 "The newly inserted row and columns inherit the size."
### Description
The newly inserted row and columns inherit the size.

### Steps to reproduce

1. Resize row/column.
2. Insert row/column on that resized row/column.
![bug-vue](https://user-images.githubusercontent.com/30186818/88303794-b8f8ce00-cd07-11ea-9eb4-6ec8d7374331.gif)

### Demo

https://jsfiddle.net/aninde/yoqm209f/

### Your environment
* Vue wrapper version: 4.1.1
* Handsontable version

[2020-07-23 15:16] aninde commented on #183
This issue will fixed with `v8` of Handsontable. Works on curently tested version https://jsfiddle.net/aninde/7tnybgeu/
![fix-v8](https://user-images.githubusercontent.com/30186818/88304150-2e649e80-cd08-11ea-982c-d79f80989d5b.gif)

[2020-07-24 10:55] aninde commented on #183
Closing as a duplicate.

[2020-07-24 10:55] #183 closed, assigned to nobody

[2020-07-26 01:10] wensonsmith opened #184 "Dynamic columns not working when use hot-column"
### Description

it should add  a column when push a column setting into hotColumn array.

but it seems nothing to work

[code]

### Demo

demo: https://codesandbox.io/embed/affectionate-cray-gnnqk?fontsize=14&hidenavigation=1&theme=dark

click add column

### Your environment

Handsontable: v7.4.2 (19/02/2020 13:41:19) Wrapper: v4.1.1 Vue: v2.6.10

[2020-07-27 12:40] pnowak commented on #184
Hi @wensonsmith

Thank you for reporting.

It seems that it is an issue. It needs further investigation.

[2020-07-28 10:26] jansiegel opened #185 "Issues with Handsontable-triggered data changes."
### Description
There's a problem with changing the data object (mostly adding rows/columns) from Handsontable triggering the `updateSettings` method, which sometimes results in improper behavior (e.g. https://github.com/handsontable/vue-handsontable-official/pull/180#issuecomment-663059991).

This scenario triggers the Handsontable's `loadData` method, which resets some of the plugins state, resu

[2020-07-29 09:05] haexhub commented on #145
In your  types.d.ts is following error:

_@handsometable/vue/types.d.ts_
[code]

Your are importing a type and exporting  a different type with the same name. Can you please correct this?

[2020-07-29 10:51] jansiegel commented on #182
Not an issue with the wrapper, works the same for vanilla `7.4.2`.

------

As for the main problem: should be fixed with handsontable/handsontable#185.

[2020-07-29 10:52] jansiegel commented on #181
Should be fixed with #185.

[2020-07-29 10:53] jansiegel commented on #185
It looks like it fixes the bugs initially reported in #180:
- #182
- #181

[2020-07-29 13:40] jansiegel commented on #185
Closing -> to be developed in https://github.com/handsontable/vue-handsontable-official/pull/180.

[2020-08-03 12:56] AMBudnik commented on #184
I think that we can also use this demo as an example https://codesandbox.io/s/musing-wing-y3u2s
It has fewer options turned on and columns are a part of the settings.

[2020-08-04 14:00] wensonsmith commented on #184
@AMBudnik

I think you misunderstand my purpose . It's fine when use settings to dynamic add columns , the reason I insist to use hot-column is i need to use a Vue component as custom renderer.

https://handsontable.com/docs/7.4.2/frameworks-wrapper-for-vue-hot-column.html#custom-renderer

[2020-08-05 10:22] AMBudnik commented on #184
Truly understandable. I will update you once we get any news on that subject.

[2020-08-05 11:48] AMBudnik commented on #172
Hi @magic990619 I'm happy to announce that we just released Handsontable for Vue v 5.0.0 where we fix this issue.
Feel free to leave some feedback after testing.

We needed to push a quick fix in a patch so I'd recommend using 5.0.1.

[2020-08-05 11:48] #172 closed, assigned to jansiegel

[2020-08-05 12:53] AMBudnik commented on #165
Hi @Guobacai we just released Handsontable for Vue https://github.com/handsontable/vue-handsontable-official/releases/tag/5.0.1. I hope that it solves your issue, but if not feel free to create a new topic or send me an email support@handsontable.com

[2020-08-05 12:53] #165 closed, assigned to jansiegel

[2020-08-07 02:53] DoubleCorner commented on #50
Is this bug has been solved ?

[2020-08-07 06:54] AMBudnik commented on #50
Hi @Rainy-Bear, yes, this issue should be gone after updating to @handsontable/vue 3.0.0 or newer.

[2020-08-07 10:40] AMBudnik commented on #179
This issue is also replicable using

@handsontable/vue: "^5.0.1"
handsontable: "^8.0.0"

https://jsfiddle.net/ku6s5fzq/

[2020-08-12 15:16] lzn302846 opened #187 "怎么获取handsontable中每个表格的样式？相关的api，属性，方法是什么？"
### Description

### Steps to reproduce

1.
2.
3.

### Demo

https://jsfiddle.net/handsoncode/dezfbgjt/

### Your environment
* Vue wrapper version:
* Handsontable version:
* Browser Name and version:
* Operating System:

[2020-08-13 06:17] AMBudnik commented on #187
HI @lzn302846

We provide support only in English. While translating your query in the Google Translate I got this message

If that was your intentional question I wanted to ask if you'd like to be given a className of a table, column, row, cell?

[2020-08-13 06:22] lzn302846 commented on #187
是的，后台返回的表格样式是什么格式，前端在哪个API或方法中进行接收渲染页面！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "handsontable/vue-handsontable-official"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年8月13日(星期四)

[2020-08-24 09:15] AMBudnik opened #188 "8.0.0 - Minimize / Minify / Uglify issue - table does not work"
@AndreyKomin commented on [Thu Aug 20 2020](https://github.com/handsontable/handsontable/issues/7207)

### Description
The table stops working if I build it in Production mode within a vue-cli project.
It seems a minification issue - if I disable `minimize` option in `vue.config.js` then it works.
![image](https://user-images.githubusercontent.com/7191525/90779690-cc975480-e306-11ea-99cf-76c32fe9a

[2020-08-24 09:18] AMBudnik commented on #187
Hi @lzn302846

if you still need some guidance please feel free to share a new ticket possibly in English as it removes possible misunderstanding or ambiguity.

[2020-08-24 09:18] #187 closed, assigned to nobody

[2020-08-24 09:35] AndreyKomin commented on #188
@AMBudnik
Just create `vue.config.js` in the root with the following content:
[code]
minimize: true - error
minimize: false - no error

To check it you should run `npm run build && npm run start`

You can read more about webpack build customization within a vue-cli project:
https://cli.vuejs.org/config/#global-cli-config

[2020-08-24 09:45] AMBudnik commented on #188
True. I also confirm.
I wasn't aware that this option is true by default. Thank you for noticing and sharing this issue report.

[2020-08-26 01:08] muei opened #189 "8.0.0 bind data with vuex state not render"
[code]
The `rows ` if from vuex state, and a not empty array, then hook `beforeChange` will not trigger, but the `afterChange` triggered, and no rows rendered

[2020-08-26 03:32] muei commented on #50
[code]
Also has this problem.

[2020-08-26 05:39] alwayszb commented on #184
Same problem, any updates here?

[2020-08-26 07:38] AMBudnik commented on #184
Sorry, no updates yet @alwayszb but rest assured I will notify you once it's ready.

[2020-08-26 08:25] AMBudnik commented on #50
Hi @muei

Thank you for reporting. Do you use the same approach as the Author? If not please share an example where the issue can be replicable.

[2020-08-26 11:17] AMBudnik commented on #189
Hi @muei

Please provide an online demo or a zipped project that will allow us to replicate the issue.

[2020-08-27 07:14] AndreyKomin commented on #188
@AMBudnik @budnix
Any updates?
Maybe you can try to explain what's you found or some details and then I'll try to fix?

[2020-08-27 08:05] AMBudnik commented on #188
@AndreyKomin our developer is already notified about this case, but he has a queue of tasks that he needs to accomplish first.

[2020-08-30 13:32] cn-xufei opened #190 "8.0.0 on hotInit error"
### Description

### Steps to reproduce

1.
[code]

### Demo

https://jsfiddle.net/handsoncode/dezfbgjt/

### Your environment
* Vue wrapper version: 2.6.11
* Handsontable version: 8.0.0
* Browser Name and version: chrome 85
* Operating System: mac

It is possible under the development mode
Error accessing page after build

DOMException: Failed to execute 'insertBefore' on 'Node': This node type d

[2020-08-31 13:08] AMBudnik commented on #190
Hi @cn-xufei

Here's an updated demo https://codesandbox.io/s/advanced-vue-hot-column-implementation-722-411-forked-sjf4w?file=/src/App.vue

Let me know if you need anything else.

[2020-09-01 08:34] cn-xufei commented on #190
Thanks. Demo no problem.
But my problem is that on version 8.0, errors are reported after the project is packaged.
[code]
My environment
[code]

[2020-09-01 08:49] Freshstrong commented on #190
I also encountered the same problem. Like the @ CN Xufei environment, I also reported this error

[2020-09-01 09:08] AMBudnik commented on #190
@cn-xufei by 'packed' do you mean the webpack's `minimize` option?

If so it has been reported here https://github.com/handsontable/vue-handsontable-official/issues/188

[2020-09-01 09:16] Freshstrong commented on #190
I didn't find "minimize" in my project
![image](https://user-images.githubusercontent.com/23231852/91831563-ce520800-ec76-11ea-9439-dcc2a714d2c2.png)

[2020-09-01 09:27] AMBudnik commented on #190
Can I ask you @cn-xufei and @Freshstrong to send me any demo where this issue can be replicable? It seems that we won't be able to replicate the same using Sandbox.

[2020-09-01 09:30] Freshstrong commented on #190
I have solved the problem of webpack, minimize option. I added "minimize" to false and repackaged it to solve this problem

![image](https://user-images.githubusercontent.com/23231852/91833111-d9a63300-ec78-11ea-9363-b55b522567fb.png)

[2020-09-01 09:37] AMBudnik commented on #190
I'm glad to hear that @Freshstrong Thank you for the update.
@cn-xufei does it solve your problem as well?

[2020-09-02 01:33] cn-xufei commented on #190
Thanks.
Yes, that's the question

[2020-09-02 01:34] cn-xufei commented on #190
Thanks.
This can only be done temporarily. Closing this configuration will affect code compression

[2020-09-02 01:42] Freshstrong commented on #190
At present, there is no better way. I hope the author can solve this problem in the next version

[2020-09-02 05:58] AMBudnik commented on #190
Yes, that is only a workaround.

@cn-xufei @Freshstrong I will update you as soon as we get that issue fixed.

[2020-09-08 17:42] AndreyKomin commented on #188
@AMBudnik @budnix
Any chance to know an approximate bugfix date?

[2020-09-09 07:08] AMBudnik commented on #188
Hi @AndreyKomin we did not set a Roadmap for Vue yet. But we should have an update soon.

Inform [forum](https://forum.handsontable.com/t/vue-188-handontable-vue-error-when-running-in-production/4743/3)

[2020-09-10 08:56] muei opened #191 "How to use component with object data"
### Description
How to use component with object data

### Code
[code]

### Your environment
* Vue wrapper version: ^4.0.0
* Handsontable version: ^7.3.0
* Browser Name and version: Chrome
* Operating System: Window 10

I wan to use custom component, but use the object data, if I define the `columns`, the component will not effective, can anyone help?

[2020-09-10 09:22] AMBudnik commented on #191
Hi @muei

here's an example with a custom renderer and object data https://jsfiddle.net/AMBudnik/0r7fzvhe/
What should that renderer do?

[2020-09-10 09:48] muei commented on #191
@AMBudnik
I mean, I wan to custom render the column with `hot-column`.
https://codesandbox.io/s/advanced-vue-hot-column-implementation-722-411-forked-t75fb?file=/src/App.vue

[2020-09-10 11:08] AMBudnik commented on #191
Here https://handsontable.com/docs/8.0.0/frameworks-wrapper-for-vue-hot-column.html is a tutorial with a working demo of a custom component. Have you tried it before?

[2020-09-11 01:00] muei commented on #191
My data is object array, this is what i want to say

[2020-09-11 08:15] AMBudnik commented on #191
@muei in the presented link there are 3 examples that use object data. They do not work if you try to implement them on your device/ in the project?

[2020-09-14 05:54] muei commented on #191
If I use `HotColumn`, it only support data like this:
[code]
can't use like this:
[code]

[2020-09-14 10:28] AMBudnik commented on #191
Hi @muei

would that https://jsfiddle.net/AMBudnik/xLmqrazo/ meet your project requirements?

[2020-09-15 01:47] muei commented on #191
@AMBudnik Thanks a lot!!!

[2020-09-15 01:47] #191 closed, assigned to nobody

[2020-09-15 02:13] muei commented on #189
[code]

If initial the data in the state, will render normaly, but not used by update.
https://codesandbox.io/s/handsontable-vue-800-501-g19c1?file=/src/App.vue

[2020-09-15 06:14] muei opened #192 "Vue HotColumn not reactive immediate"
### Description
In the demo, when use `columns` instead of `hot-column`, it's no problem.
When use `hot-column`, and renderer will not display immediate, if I update the *state* and save some times, it will render more than 1 columns which not defined with `hot-column`

### Demo
https://codesandbox.io/s/handsontable-vue-hot-column-implementation-742-411-cquo1?file=/src/App.vue

### Your environmen

[2020-09-16 07:32] AMBudnik commented on #192
Hi @muei

I do not see any use of a custom renderer in your demo. Is that the latest version of the demo?

[2020-09-16 07:52] AMBudnik commented on #189
Hi @muei

in your demo, you defined a `data` variable but loaded an empty array instead. Here's the updated demo https://codesandbox.io/s/handsontable-vue-800-501-forked-tinzt. I added your data variable to the initialization settings.

ps. Here's our Vuex example https://handsontable.com/docs/8.0.0/frameworks-wrapper-for-vue-vuex-example.html. It shows how we cooperate with the Vuex state manager

[2020-09-16 08:37] icxcc opened #194 "unable to display after packaging and publish to nginx"
### Description
unable to display after packaging and publish to nginx

### Steps to reproduce

1.  ```yarn build```
2.  Copy to nginx
3.

### Your environment
* Vue wrapper version: 5.0.1
* Handsontable version: 8.0.0
* Browser Name and version: Google Chrome 85.0.4183.102
* Operating System: